---
import { Image } from "astro:assets";
import img4 from "../../assets/images/AsphaltStorage/TanqueG.webp";
import ASProv2 from "../../assets/images/AsphaltStorage/MngrsTqe4.webp";
import ASProv2Low from "../../assets/images/AsphaltStorage/Low/MngrsTqe4Low.webp";
import img6 from "../../assets/images/AsphaltStorage/ASafety.webp";
import img6Low from "../../assets/images/AsphaltStorage/Low/ASafetyLow.webp";
import ItemsSlider from "../LandinPage/ItemsSlider";

const iconos = [
    {
        src: "/Gallery/sliderHotMix/1.webp",
        title: "Preservación de la calidad",
        texto: "Preservación de la calidad e integridad del asfalto.",
    },
    {
        src: "/Gallery/sliderHotMix/2.webp",
        title: "Logística eficiente",
        texto: "Agiliza la entrega con reportes, historial y control preciso del flujo de asfalto",
    },
    {
        src: "/Gallery/sliderHotMix/3.webp",
        title: "Opciones de almacenamiento versátiles",
        texto: "Retención térmica prolongada que mantiene el asfalto líquido y en buen estado por más tiempo.",
    },
    {
        src: "/Gallery/sliderHotMix/4.webp",
        title: "Movilidad",
        texto: "Nuestros tanque permiten una instalación rápida sin maquinaria pesada, ideal para operaciones reubicables.",
    },
    {
        src: "/Gallery/sliderHotMix/7.webp",
        title: "Seguridad mejorada",
        texto: "Equipados con protecciones, alarmas e indicadores visuales para proteger al personal y al equipo.",
    },
    {
        src: "/Gallery/sliderHotMix/8.webp",
        title: "Rentabilidad",
        texto: "Reduce paros, costos de transporte y mantenimiento gracias a su diseño eficiente y desempeño confiable.",
    },
    {
        src: "/Gallery/sliderHotMix/9.webp",
        title: "Mejora el nombre de la empresa",
        texto: "La estética industrial eleva la apariencia de tu operación.",
    },
    {
        src: "/Gallery/sliderHotMix/10.webp",
        title: "Personalizable",
        texto: "Características adaptables para cumplir con los requisitos específicos del proyecto y los objetivos operativos.",
    },
];
---

<section class="w-full mt-10 flex flex-col gap-10">
    <div
        class="w-full flex flex-col items-center justify-center font-bold mt-10"
    >
        <div class="max-w-7xl px-8 mx-auto flex justify-center">
            <Image
                src={img6}
                alt="Image of an Asphalt Storage Tank inside the production facility"
                class="hero-img hidden lg:block lg:w-4/6 rounded-lg"
            />
            <Image
                src={img6Low}
                alt="Image of an Asphalt Storage Tank inside the production facility"
                class="hero-img rounded-lg lg:hidden md:hidden"
            />
        </div>

        <div
            class="max-w-7xl px-8 mx-auto flex flex-col md:flex-row items-center gap-6"
        >
            <div class="w-full hidden lg:flex md:w-auto">
                <Image
                    src={ASProv2}
                    alt="Front of the Asphalt Storage Tank"
                    class="side-img rounded-2xl will-change-transform"
                />
            </div>
            <div class="w-full mt-10 space-y-6">
                <h2 class="font-bold text-xl md:text-2xl text-redBg uppercase">
                    Seguridad y cumplimiento en <br />diseño y transporte
                </h2>
                <h1 class="font-bold">
                    Diseño conforme a DOT para un transporte seguro
                </h1>
                <p class="font-normal">
                    Los tanques de asfalto Triaso® —en sus versiones verticales
                    y horizontales portátiles— están diseñados con
                    características conformes al DOT para cumplir con las
                    regulaciones de transporte. Los tanques portátiles incluyen
                    enganches seguros, sistemas de iluminación, ejes de trabajo
                    pesado y componentes de frenos alineados con los estándares
                    del Department of Transportation (DOT) de EUA , asegurando
                    un transporte vial seguro y legal.
                </p>

                <h1 class="font-bold">
                    Barandales conforme a OSHA para tanques de asfalto
                    verticales y horizontales
                </h1>
                <p class="font-normal">
                    Todos los tanques de asfalto Triaso®, tanto verticales como
                    horizontales, están equipados con barandales conforme a OSHA
                    para garantizar la seguridad del operador durante el acceso
                    y el mantenimiento. Cada tanque incluye pasamanos de
                    seguridad, rodapiés y plataformas seguras diseñadas para
                    cumplir con normas estrictas de seguridad.
                </p>
            </div>
        </div>

        <div
            class="max-w-7xl hidden px-8 lg:flex justify-center lg:justify-end"
        >
            <Image
                src={img4}
                alt="Asphalt Tank with a Oil Heater installed"
                class="fade-img rounded-lg lg:w-3/5 will-change-transform"
            />
        </div>

        <div class="relative flex flex-row px-8 gap-2 lg:hidden">
            <Image
                src={img4}
                alt="Asphalt Tank with a Oil Heater installed"
                class="rounded-2xl w-1/2 object-contain"
            />

            <Image
                src={ASProv2Low}
                alt="Front of the Asphalt Storage Tank"
                class="rounded-2xl w-1/2 object-contain"
            />
        </div>
    </div>
</section>

<section class="bg-grisT">
    <div class="max-w-7xl px-8 mx-auto pt-10">
        <h2 class="text-2xl md:text-3xl text-white font-bold">Aplicaciones</h2>
    </div>
    <details class="group pt-3">
        <summary
            class="grid grid-cols-1 lg:grid-col-2 md:grid-cols-2 font-bold max-w-7xl mx-auto px-8 gap-10 text-white cursor-pointer list-none"
        >
            <div class="col-span-2 lg:col-span-1">
                <h3>Producción de mezcla asfáltica</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Almacenamiento y calentamiento de asfalto para la
                        producción de mezcla asfáltica en caliente.
                    </li>
                </ul>
            </div>

            <div class="col-span-2 lg:col-span-1">
                <h3>Asfalto modificado con polímeros</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Mezclado y almacenamiento de asfalto combinado con
                        polímeros para mejorar su desempeño.
                    </li>
                </ul>
            </div>

            <div
                class="col-span-2 mx-auto mt-5 mb-5 text-black text-center text-xs md:text-sm
             font-normal border-2 border-white rounded-full py-2 px-6
             transition-all duration-300 ease-out transform hover:scale-110
             hover:shadow-lg bg-white hover:bg-black hover:text-white hover:border-black
             group-open:hidden"
            >
                Ver más
            </div>
        </summary>

        <div
            class="w-full font-bold text-white p-10 rounded-t-2xl grid grid-cols-1 md:grid-cols-2
           gap-10 max-w-7xl px-8 mx-auto"
        >
            <div>
                <h3>Productos para construcción e impermeabilización</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Usados para preparar y almacenar materiales basados en
                        asfalto para membranas y selladores de techado.
                    </li>
                </ul>
            </div>

            <div>
                <h3>Producción de emulsiones asfálticas</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Mantenimiento de temperatura y estabilidad de emulsiones
                        para aplicaciones de mezcla en frío.
                    </li>
                </ul>
            </div>

            <div>
                <h3>Procesamiento de petróleo crudo y gas natural</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Manejo de subproductos asfálticos o residuos pesados en
                        procesos de refinación y separación de gas.
                    </li>
                </ul>
            </div>

            <div>
                <h3>Asfalto con hule</h3>
                <ul class="list-disc ml-6 font-thin">
                    <li class="text-sm lg:text-base">
                        Incorporación de hule de llanta en asfalto líquido para
                        mejorar la flexibilidad del pavimento.
                    </li>
                </ul>
            </div>
        </div>

        <div
            class="flex justify-center mt-6 group-open:flex hidden"
            onclick="this.closest('details').removeAttribute('open')"
        >
            <div
                class="mx-auto mt-5 mb-5 text-black text-center text-xs md:text-sm
             font-normal border-2 border-white rounded-full py-2 px-6
             transition-all duration-300 ease-out transform hover:scale-110
             hover:shadow-lg bg-white hover:bg-black hover:text-white hover:border-black"
            >
                Ver menos
            </div>
        </div>
    </details>
</section>

<section>
    <ItemsSlider client:only images={iconos} />
</section>

<script>
    import { initScrollAnimations } from "../../components/DrumMixers/scrollAnimations";

    if (typeof window !== "undefined") {
        window.addEventListener("DOMContentLoaded", () => {
            initScrollAnimations();
        });
    }
</script>

<script is:inline>
    const container = document.getElementById("slider-container");

    const imagenes = [container.dataset.img1, container.dataset.img2];

    let index = 0;

    const img = document.getElementById("miImagen");
    const btnAnterior = document.getElementById("btnAnterior");
    const btnSiguiente = document.getElementById("btnSiguiente");

    btnAnterior.addEventListener("click", () => {
        index = (index - 1 + imagenes.length) % imagenes.length;
        img.src = imagenes[index];
    });

    btnSiguiente.addEventListener("click", () => {
        index = (index + 1) % imagenes.length;
        img.src = imagenes[index];
    });
</script>
