---
import Card from "../unitComponents/Card.astro";
import oil1 from "../../assets/images/AsphaltPlant/oil1.webp";
import { Image } from "astro:assets";
import GallerySlider from "../unitComponents/GallerySlider";
import ModalButton from "../unitComponents/ModalButton.astro";
import hotoil from "../../assets/images/AsphaltStorage/hotoil.webp";
import DirectFire from "../../assets/images/AsphaltStorage/DirectFire.webp";
import VaporCondensers from "../../assets/images/AsphaltStorage/VaporCondensers.webp"

import t1 from "../../assets/images/AsphaltStorage/SliderStorage/P-3a.webp"
import t2 from "../../assets/images/AsphaltStorage/SliderStorage/P-3b.webp"
import t3 from "../../assets/images/AsphaltStorage/SliderStorage/P-3c.webp"
import t4 from "../../assets/images/AsphaltStorage/SliderStorage/P-3d.webp"
import t5 from "../../assets/images/AsphaltStorage/SliderStorage/P-3e.webp"
import t6 from "../../assets/images/AsphaltStorage/SliderStorage/P-3f.webp"

import g1 from "../../assets/images/AsphaltStorage/SliderStorage2/DFAT1.webp"
import g2 from "../../assets/images/AsphaltStorage/SliderStorage2/DFAT2.webp"
import g3 from "../../assets/images/AsphaltStorage/SliderStorage2/DFAT3.webp"
import g4 from "../../assets/images/AsphaltStorage/SliderStorage2/DFAT4.webp"

const tanksSlides = [
  {
    image: t1.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: t2.src,
    caption:
      "60,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: t3.src,
    caption:
      "25,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: t4.src,
    caption:
      "25,000-liter asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: t5.src,
    caption:
      "16,000-gallon asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
  {
    image: t6.src,
    caption:
      "16,000-gallon asphalt tank, plus, with boiler, compliant with US standards, in working condition",
  },
];
const tanksSlides2 = [
  {
    image: g1.src,
    caption: "60,000-liter asphalt tank, plus.",
  },
  {
    image: g2.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g3.src,
    caption: "60,000-liter asphalt tank, plus",
  },
  {
    image: g4.src,
    caption: "60,000-liter asphalt tank, plus",
  },
];
---

<section
  class="max-w-7xl px-8 mx-auto flex mt-10 md:mt-20 flex-col items-center justify-center gap-4 bg-gray-100"
  data-tabs
>
  <div class="flex flex-col items-center justify-center w-full gap-4 mt-8">
    <div class="flex items-center justify-around w-full gap-4">
      <button
        class="text-xl md:text-4xl tab-button py-2 md:px-4 font-bold focus:outline-none"
        data-tab="tab1"
        aria-selected="true"
      >
        Oil Heating
      </button>
      <button
        class="tab-button py-2 md:px-4 font-bold text-xl md:text-4xl focus:outline-none"
        data-tab="tab2"
        aria-selected="false"
      >
        Direct Fire Heating
      </button>
    </div>
    <div class="py-4 flex justify-center items-center">
      <!-- First Section -->
      <div
        class="w-full flex flex-col items-center justify-center gap-5 mt-4 tab-content text-base md:text-lg text-grisT font-bold"
        data-tab-content="tab1"
      >
        <div class="w-full">
          <p class="text-justify text-sm lg:text-lg md:text-lg">
            Designed for precise temperature control, the oil heater ensures
            uniform heat distribution through an efficient thermal oil
            circulation system. Its heavy-duty construction allows continuous
            operation, making it suitable for demanding that require consistent
            performance and energy efficiency.
          </p>
        </div>
        <GallerySlider client:only slides={tanksSlides} visibleThumbs={6} />
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10">
          <div
            class="w-full bg-[#727272] flex flex-col gap-6 p-8 rounded-xl shadow-lg max-h-[55vh]"
          >
            <div class="w-full flex justify-center">
              <Image src={oil1} alt="Oil Heater" class="w-4/5 h-4/5 rounded-lg" />
            </div>
            <div class="w-full flex justify-between items-center my-auto">
              <h1 class="text-white text-xl font-semibold">Oil Heater</h1>
              <ModalButton>
                <h3 slot="title" class="text-xl md:text-2xl font-semibold">
                  Oil Heater
                </h3>
                <Image slot="image" src={oil1} alt="Oil Heater" />
                <div slot="content">
                  <ul class="list-disc pl-5">
                    <li>Heating capacities: 1,000,000 and 2,400,000 Btu/hr</li>
                    <li>
                      High-efficiency 2" diameter coil system inside the asphalt
                      tank
                    </li>
                    <li>
                      Connections for asphalt tankers with coil heating systems
                    </li>
                    <li>Thermally insulated with ceramic fiber</li>
                    <li>Stainless steel exterior cladding</li>
                    <li>Equipped with a diesel burner</li>
                    <li>Automatic on/off control based on temperature</li>
                    <li>Two operating modes: automatic and manual</li>
                    <li>
                      Digital thermometers with programmable setpoint for burner
                      activation and shutdown
                    </li>
                    <li>Siemens PLC-based control system</li>
                    <li>100-liter (26.4-gallon) thermal oil expansion tank</li>
                    <li>100% duty cycle for continuous operation</li>
                    <li>
                      Integrated safety systems with automatic shutdown in case
                      of fault
                    </li>
                  </ul>
                </div>
              </ModalButton>
            </div>
          </div>
          <div
            class="w-full bg-[#727272]  flex flex-col gap-6 p-8 rounded-xl shadow-lg max-h-[55vh]"
          >
            <div class="w-full flex justify-center">
              <Image src={hotoil} alt="Hot Oil Coils" class="w-full h-4/5 rounded-lg" />
            </div>
            <div class="flex justify-between items-center my-auto">
              <h1 class="text-white text-xl font-semibold">Hot Oil Coils</h1>
              <ModalButton>
                <h3 slot="title" class="text-xl md:text-2xl font-semibold">
                  Hot Oil Coils
                </h3>
                <Image slot="image" src={hotoil} alt="Hot Oil Coils" />
                <div slot="content">
                  Our asphalt storage tanks are equipped with heating coils that
                  circulate thermal oil to ensure uniform and efficient asphalt
                  heating. <br />
                  This system prevents solidification and maintains the asphalt at
                  the required temperature for operation. <br />
                  It delivers reliable performance, reduces energy consumption, and
                  allows precise temperature control. <br />
                  The design minimizes wear, extending the tank’s service life while
                  maintaining optimal asphalt consistency and readiness for use.
                </div>
              </ModalButton>
            </div>
          </div>
        </div>
        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-x-[20%] gap-y-6">
          <Card>
            <h1>Precision Temperature Control:</h1>
            <p class="font-thin">
              Maintains precise temperature control within a ±1°C tolerance,
              ensuring optimal conditions for material processing.
            </p>
          </Card>
          <Card>
            <h1>Customizable Heating Capacity:</h1>
            <p class="font-thin">
              Tailored to meet specific project needs, from small-scale
              operations to large industrial requirements.Tailored to meet
              specific project needs — from small-scale operations to large
              industrial requirements.
            </p>
          </Card>
          <Card>
            <h1>High-Efficiency Burners:</h1>
            <p class="font-thin">
              Equipped with low-NOx burners that minimize emissions while
              maximizing fuel efficiency.
            </p>
          </Card>
          <Card>
            <h1>Thermal Oil Circulation System:</h1>
            <p class="font-thin">
              Ensures uniform heat distribution across throughout the system,
              preventing hot spots and material degradation.
            </p>
          </Card>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div
      class="w-full flex flex-col items-center justify-center gap-10  tab-content text-base md:text-lg text-grisT font-bold"
      data-tab-content="tab2"
    >
      <p class="text-justify text-sm lg:text-lg md:text-lg">
        Triaso® direct fire heating is designed to heat up the asphalt. A burner
        is mounted directly beneath the tank, transferring heat through a steel
        plate into the asphalt. This method provides fast, efficient heating
        with minimal energy loss.
      </p>
      <GallerySlider client:only slides={tanksSlides2} visibleThumbs={4} />
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10">
        <div
          class="w-full bg-[#727272] flex flex-col gap-6 p-8 rounded-xl shadow-lg max-h-[55vh]"
        >
          <div class="w-full flex justify-center">
            <Image src={DirectFire} alt="Direct Fire Heating Burner" class=" lg:w-full lg:h-96 object-fill rounded-lg" />
          </div>
          <div class="w-full flex justify-between items-center">
            <h1 class="text-white text-xl w-1/2 md:text-2xl">
              Direct Fire Heating Burner
            </h1>
            <ModalButton>
              <h3 slot="title" class="text-xl md:text-2xl">
                Direct Fire Heating Burner
              </h3>
              
                <Image
                slot="image"
                src={DirectFire}
                alt="Direct Fire Heating Burner"
                class="w-full"
              />
           
              
              <div slot="content">
                The direct-fire heating system works with a diesel or a gas
                burner that radiates heat to a main tube inside the asphalt
                tank. This tube has two secondary pipes that help distribute the
                heat more evenly, and the exhaust gases exit through the vapor
                condensers.
              </div>
            </ModalButton>
          </div>
        </div>
        <div
          class="w-full bg-[#727272] flex flex-col gap-6 p-8 rounded-xl shadow-lg max-h-[55vh]"
        >
          <div class="w-full flex justify-center">
            <Image src={VaporCondensers} alt="Vapor condensers" class="lg:w-full lg:h-[400px] object-fill rounded-lg" />
          </div>
          <div class="w-full flex justify-between items-center">
            <h1 class="text-white text-xl w-1/2 md:text-2xl">
              Vapor condensers
            </h1>
            <ModalButton>
              <h3 slot="title" class="text-xl md:text-2xl">Vapor condensers</h3>
              <Image slot="image" src={VaporCondensers} alt="Vapor condensers" class="w-full object-fill" />
              <div slot="content">
                Triaso® vapor condensers are designed to capture and condense
                asphalt fumes during storage and heating, preventing emissions
                from escaping into the environment. Installed on the tank’s vent
                line, they cool down hot vapors into liquid form, reducing odor,
                improving safety, and ensuring compliance with environmental
                regulations.
              </div>
            </ModalButton>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style is:global>
  /* Estilos para los tabs activos */
  .tab-button[aria-selected="true"] {
    color: black;
    border-bottom: 2px solid var(--rojo-btn);
  }

  .tab-button[aria-selected="false"] {
    color: var(--gris-titulos);
    font-weight: normal;
    border-bottom: 2px solid var(--gris-titulos);
  }

  .tab-button:hover:not([aria-selected="true"]) {
    color: black;
    border-bottom: 2px solid var(--rojo-btn);
  }
</style>
<script is:inline>
  (function initTabs() {
    document.querySelectorAll("section[data-tabs]").forEach((tabSection) => {
      const tabButtons = tabSection.querySelectorAll(".tab-button");
      const tabContents = tabSection.querySelectorAll(".tab-content");

      // Ocultar todos menos el primero
      const selectedTab = tabSection.querySelector(
        '.tab-button[aria-selected="true"]',
      );
      const selectedTabId = selectedTab?.getAttribute("data-tab");

      tabContents.forEach((content) => {
        const contentTabId = content.getAttribute("data-tab-content");
        content.classList.toggle("hidden", contentTabId !== selectedTabId);
      });

      tabButtons.forEach((button) => {
        button.addEventListener("click", () => {
          const tabId = button.getAttribute("data-tab");

          tabButtons.forEach((btn) =>
            btn.setAttribute("aria-selected", "false"),
          );
          button.setAttribute("aria-selected", "true");

          tabContents.forEach((content) => {
            content.classList.add("hidden");
          });

          const activeContent = tabSection.querySelector(
            `.tab-content[data-tab-content="${tabId}"]`,
          );
          if (activeContent) activeContent.classList.remove("hidden");
        });
      });
    });
  })();
</script>
<script is:inline>
  const openModalBtn = document.getElementById("openModalBtn");
  const closeModalBtn = document.getElementById("closeModalBtn");
  const modalOverlay = document.getElementById("modalOverlay");

  // Abrir modal
  openModalBtn.addEventListener("click", () => {
    modalOverlay.classList.remove("hidden");
  });

  // Cerrar modal
  closeModalBtn.addEventListener("click", () => {
    modalOverlay.classList.add("hidden");
  });

  // Cerrar modal al hacer clic fuera del contenido
  modalOverlay.addEventListener("click", (e) => {
    if (e.target === modalOverlay) {
      modalOverlay.classList.add("hidden");
    }
  });
</script>
