---
import { Image } from "astro:assets";
import Separator from "../unitComponents/Separator.astro";
import ItemsSlider from "../LandinPage/ItemsSlider";
import img1 from "../../assets/images/AsphaltStorage/versatil.webp";
import img2 from "../../assets/images/AsphaltStorage/SliderStorage3/DSC05068.webp";
import img3 from "../../assets/images/AsphaltStorage/SliderStorage3/Caldera.webp";
import ASOdometer from "./ASOdometer";
import Logo from "../../assets/logos/LogoTriasoMX.svg";
import SliderAsphalt from "./SliderAsphalt";
import ASCustom from "../AsphaltStorage/ASCustom.astro";
import ASMainVideo from "../../assets/images/AsphaltStorage/ASMainVideo.mp4";
import ASControl from "../../assets/images/AsphaltStorage/Low/ASControlLow.webp";
import poster1 from "../../../public/Videos/Webm/Posters/5.webp";
import ASLevelSensor from "../../assets/images/AsphaltStorage/Low/ASLevelSensorLow.webp";
import bannerAsphalt from "../../assets/images/AsphaltStorage/bannerStorage.webp";
import OSHand from "../../assets/images/OSHandbgremoved.webp";
import SmartVideo from "../unitComponents/SmartVideo";

const iconos = [
  {
    src: "/Gallery/sliderHotMix/1.webp",
    title: "Preservation of Quality",
    texto: "Perservation of quality and integrity of the asphalt.",
  },
  {
    src: "/Gallery/sliderHotMix/2.webp",
    title: "Efficient Logistics",
    texto:
      "Streamlines delivery with reports, history tracking, and precise asphalt flow control.",
  },
  {
    src: "/Gallery/sliderHotMix/3.webp",
    title: "Versatile Storage Options",
    texto:
      "Long-duration thermal retention, ensuring it remains liquid and high-quality for extended periods.",
  },
  {
    src: "/Gallery/sliderHotMix/4.webp",
    title: "Mobility",
    texto:
      "Triaso asphalt tanks allow quick setup without heavy machinery, ideal for relocatable operations.",
  },
  {
    src: "/Gallery/sliderHotMix/5.webp",
    title: "Durability",
    texto:
      "Built with reinforced materials, thermally insulated cylinders, and corrosion-resistant finishes.",
  },
  {
    src: "/Gallery/sliderHotMix/6.webp",
    title: "Seamless Integration",
    texto:
      "Compatible with asphalt plant systems through protocols like Ethernet Industrial, Modbus, and CANopen.",
  },
  {
    src: "/Gallery/sliderHotMix/7.webp",
    title: "Enhanced Safety",
    texto:
      "Equipped with guards, alarms, and visual indicators to protect personnel and equipment.",
  },
  {
    src: "/Gallery/sliderHotMix/8.webp",
    title: "Cost-Effective",
    texto:
      "Reduces downtime, transportation costs, and maintenance with efficient design and reliable performance.",
  },
  {
    src: "/Gallery/sliderHotMix/9.webp",
    title: "Improved Company Image",
    texto: "Industrial aesthetics elevate the visual appeal of your operation.",
  },
  {
    src: "/Gallery/sliderHotMix/10.webp",
    title: "Customizable",
    texto:
      "Adaptable features to meet specific project requirements and operational goals.",
  },
  // agrega hasta 16 o más imágenes
];
---

<section class="w-full flex flex-col items-center justify-center font-bold">
  <div class="w-full mt-10 lg:mt-0 md:mt-0">
    <Image
      src={bannerAsphalt}
      alt="Asphalt Storage Tank with a road in the background and a worker next to it"
      class="w-full"
      fetchpriority="high"
      loading="lazy"
    />
  </div>

  <div class="w-full max-w-7xl px-8 mx-auto space-y-5">
    <h1 class="text-2xl md:text-3xl">
      Triaso® Asphalt <br /> Storage Tanks
    </h1>
    <Separator />
    <p class="font-bold text-grisT text-start text-sm lg:text-lg md:text-lg">
      Triaso® asphalt tanks are engineered to store and maintain asphalt under
      optimal conditions, ensuring consistent quality and performance. Built
      with heavy-duty materials and high-efficiency insulation, they keep
      asphalt ready for use in any application. Ideal for polymer-modified
      asphalt production, these tanks provide the durability and functionality
      required for both small projects and large-scale operations.
    </p>
  </div>

  <div class="max-w-7xl px-8 mx-auto pt-10">
    <SmartVideo
      client:visible
      src="/Videos/Webm/ASMainVideo.webm"
      poster={poster1.src}
      isLoop={false}
      autoplayOnMobile={false}
    />

    <h1 class="text-center text-xl lg:text-3xl md:text-3xl text-blueMain pt-10">
      Consistent Heat, Consistent Mix
    </h1>
  </div>
  <div
    class="w-full max-w-[1920px] grid grid-cols-1 lg:grid-cols-2 md:grid-cols-1 gap-5 items-center mt-10 overflow-hidden lg:px-36"
  >
    <!-- TEXTO -->
    <div
      class="order-1 md:order-1 text-grisT flex flex-col h-full gap-4 md:gap-10 text-justify px-8 py-8 lg:py-10"
    >
      <h2 class="text-lg lg:text-xl md:text-xl text-start w-full text-black">
        Versatile and Efficient Asphalt Storage Solutions
      </h2>

      <p class="text-sm lg:text-lg md:text-lg">
        The tanks are engineered for versatility and reliability in asphalt
        storage applications, from road construction to roofing and other
        large-scale uses.
      </p>

      <p class="text-sm lg:text-lg md:text-lg">
        Equipped with efficient heating systems and precise temperature control,
        they maintain the required asphalt consistency for both standard and
        modified binders.
      </p>

      <p class="text-sm lg:text-lg md:text-lg">
        Their durable construction and easy operation make them suitable for
        continuous production and long-term service in demanding environments.
      </p>
    </div>

    <!-- SLIDER -->
    <div class="order-2 md:order-2 w-full h-[220px] md:h-[420px]">
      <SliderAsphalt client:load images={[img1.src, img2.src, img3.src]} />
    </div>
  </div>

  <div class="w-full px-8 md:px-52 py-10 lg:py-40 md:py-40">
    <h1 class="text-redBg text-[18px] lg:text-3xl md:text-3xl text-center">
      With Triaso, become the principal supplier of hot-mix for <br />
      all the paving projects in your region
    </h1>
  </div>
  <ASOdometer client:only />

  <ItemsSlider client:only images={iconos} />

  <div
    class="w-full bg-gradient-to-t from-[#727272] to-[#393939] text-white flex flex-col justify-center mt-10 pt-10 h-full"
  >
    <div class="w-full relative h-[100px] md:h-[250px]">
      <Image
        src={Logo}
        alt="Triaso Logo"
        class="absolute top-0 left-0 z-10 w-full"
      />
    </div>
    <div class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="w-full flex justify-center">
        <Image
          src={ASControl}
          alt="Asphalt Control System"
          class="w-full lg:w-3/4 rounded-2xl"
        />
      </div>
      <div class="w-full flex flex-col gap-6 my-10">
        <h2 class="text-xl md:text-2xl">Control System</h2>
        <h3 class="text-lg md:text-xl">
          Computerized system to prevent asphalt theft during tanker reception
          and operation.
        </h3>
        <p class="text-sm lg:text-lg md:text-lg font-thin">
          With automated asphalt controls to monitor asphalt consumption per ton
          of produced mix, preventing waste and theft.
        </p>
        <p class="text-sm lg:text-lg md:text-lg font-thin">
          The system automatically stores data on delivered asphalt, detailing
          its real-time level, temperature, trends, and projections.
        </p>
      </div>
    </div>
    <div class="w-full">
      <section
        class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-5 justify-center items-center gap-10 md:gap-0"
      >
        <div class="col-span-1 lg:col-span-3 w-full px-8">
          <p class="text-sm lg:text-lg md:text-lg font-thin text-white">
            Offering a practical and efficient way to manage industrial
            equipment operations. With advanced monitoring and automation, it
            simplifies the Asphalt Plant operation and personnel. Control of key
            processes like temperature, material dosing, and production rates.
          </p><br />
          <div class="w-full grid grid-cols-2 space-y-5 lg:grid-cols-4">
            <div class="w-[70px] flex flex-col mx-auto items-center">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#FFFFFF"
                class="w-[48px] h-[48px] md:w-[64px] md:h-[64px]"
              >
                <path
                  d="M8 18L11 21L16 16"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M20 17.6073C21.4937 17.0221 23 15.6889 23 13C23 9 19.6667 8 18 8C18 6 18 2 12 2C6 2 6 6 6 8C4.33333 8 1 9 1 13C1 15.6889 2.50628 17.0221 4 17.6073"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>

              <p class="text-sm md:text-base font-bold text-white text-center">
                Cloud historical reports
              </p>
            </div>
            <div class="w-[70px] flex flex-col mx-auto items-center">
              <svg
                class="w-[48px] h-[48px] md:w-[64px] md:h-[64px]"
                viewBox="0 0 24 24"
                stroke-width="2.2"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#FFFFFF"
                ><path
                  d="M7 14C5.34315 14 4 15.3431 4 17C4 18.6569 5.34315 20 7 20C7.35064 20 7.68722 19.9398 8 19.8293"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M4.26392 15.6046C2.9243 14.9582 2.00004 13.587 2.00004 12C2.00004 10.7883 2.53877 9.70251 3.38978 8.96898"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M3.42053 8.8882C3.1549 8.49109 3 8.01363 3 7.5C3 6.11929 4.11929 5 5.5 5C6.06291 5 6.58237 5.18604 7.00024 5.5"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M7.23769 5.56533C7.08524 5.24215 7 4.88103 7 4.5C7 3.11929 8.11929 2 9.5 2C10.8807 2 12 3.11929 12 4.5V20"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M8 20C8 21.1046 8.89543 22 10 22C11.1046 22 12 21.1046 12 20"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M12 7C12 8.65685 13.3431 10 15 10"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M20.6102 8.96898C21.4612 9.70251 22 10.7883 22 12C22 12.7031 21.8186 13.3638 21.5 13.9379"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M20.5795 8.8882C20.8451 8.49109 21 8.01363 21 7.5C21 6.11929 19.8807 5 18.5 5C17.9371 5 17.4176 5.18604 16.9998 5.5"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M12 4.5C12 3.11929 13.1193 2 14.5 2C15.8807 2 17 3.11929 17 4.5C17 4.88103 16.9148 5.24215 16.7623 5.56533"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M14 22C12.8954 22 12 21.1046 12 20"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M20.5 20.5L22 22"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M16 18.5C16 19.8807 17.1193 21 18.5 21C19.1916 21 19.8175 20.7192 20.2701 20.2654C20.7211 19.8132 21 19.1892 21 18.5C21 17.1193 19.8807 16 18.5 16C17.1193 16 16 17.1193 16 18.5Z"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <p class="text-sm md:text-base font-bold text-white text-center">
                Artificial Intelligence
              </p>
            </div>
            <div class="w-[70px] flex flex-col mx-auto items-center">
              <svg
                class="w-[48px] h-[48px] md:w-[64px] md:h-[64px]"
                stroke-width="2.2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#FFFFFF"
                ><path
                  d="M10 9H6"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M15.5 11C14.1193 11 13 9.88071 13 8.5C13 7.11929 14.1193 6 15.5 6C16.8807 6 18 7.11929 18 8.5C18 9.88071 16.8807 11 15.5 11Z"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M6 6H9"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M18 18L13.5 15L11 17L6 13"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M3 20.4V3.6C3 3.26863 3.26863 3 3.6 3H20.4C20.7314 3 21 3.26863 21 3.6V20.4C21 20.7314 20.7314 21 20.4 21H3.6C3.26863 21 3 20.7314 3 20.4Z"
                  stroke="#FFFFFF"
                  stroke-width="2.2"></path></svg
              >
              <p class="text-sm md:text-base font-bold text-white text-center">
                Fewer operators full control
              </p>
            </div>
            <div class="w-[70px] flex flex-col mx-auto items-center">
              <svg
                class="w-[48px] h-[48px] md:w-[64px] md:h-[64px]"
                stroke-width="2.2"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                color="#FFFFFF"
                ><path
                  d="M20 20H4V4"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path><path
                  d="M4 16.5L12 9L15 12L19.5 7.5"
                  stroke="#FFFFFF"
                  stroke-width="2.2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <p class="text-sm md:text-base font-bold text-white text-center">
                Remote cloud monitoring
              </p>
            </div>

            <div
              class="col-span-2 lg:col-span-4 mx-auto flex justify-end items-end"
            >
              <a
                href="/Relief"
                class="text-black text-center mb-5 mt-5 text-xs md:text-sm font-normal border-2 border-white rounded-full py-2 px-6 transition-all duration-300 ease-out transform hover:scale-110 hover:shadow-lg bg-white hover:bg-black hover:text-white hover:border-black"
                >Learn More</a
              >
            </div>
          </div>
        </div>
        <div class="col-span-1 lg:col-span-2 flex justify-end items-end">
          <Image
            src={OSHand}
            alt="Triaso Relief system on a mobile device"
            class="w-3-4 lg:w-full"
          />
        </div>
      </section>
    </div>
    <div class="w-full bg-bgBeige -skew-y-2">
      <div
        class="w-full grid grid-cols-1 md:grid-cols-2 py-20 max-w-7xl px-8 mx-auto skew-y-2 items-center"
      >
        <div class="w-full text-black">
          <h1 class="font-bold text-black text-xl md:text-2xl text-center">
            Triaso Asphalt Level Sensor
          </h1><br />
          <p class="text-sm lg:text-lg md:text-lg font-thin">
            Asphalt level sensor with guided wave radar technology, designed for
            continuous and accurate monitoring in real-time.
          </p>
          <br />
          <p class="text-sm lg:text-lg md:text-lg font-thin">
            Asphalt volume in the tank (accuracy with a margin of error of 11.3
            liters in 60,000 liters).
          </p>
          <ul class="list-disc ml-6 text-sm lg:text-lg md:text-lg font-thin">
            <li>Consumption and refill history of asphalt.</li>
          </ul>
        </div>
        <div class="w-full text-center text-black flex justify-center">
          <Image
            src={ASLevelSensor}
            alt="Triaso Asphalt Level Sensor"
            class="w-full lg:w-3/4 rounded-xl"
          />
        </div>
      </div>
    </div>

    <div class="max-w-7xl px-8 mx-auto py-20 flex flex-col gap-10">
      <details class="group flex flex-col justify-center items-center">
        <summary
          class="flex flex-col lg:flex-row md:flex-row items-center justify-between cursor-pointer list-none gap-5"
        >
          <h2 class="text-center text-2xl text-bgBeige md:text-3xl">
            Simplifying Operations with Triaso Intelligent Features
          </h2>

          <svg
            class="transition-transform duration-300 group-open:rotate-180"
            width="64"
            height="64"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#fffaea"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <path
                d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                fill="#fffaea"></path>
            </g></svg
          >
        </summary>
        <p class="text-sm lg:text-lg md:text-lg font-thin">
          Beyond storage, our tanks are equipped with user-friendly features
          like automated monitoring systems, real-time data tracking, and
          efficient unloading mechanisms. These technologies help streamline
          operations, reduce maintenance, and enhance productivity across the
          board. With real-time access to trends, logs, and operational metrics,
          decision-making becomes faster, more informed, and fully independent
          of your physical location.
        </p>
      </details>
    </div>
  </div>

  <ASCustom />
</section>
