---
import GallerySlider from "../unitComponents/GallerySlider";
import { Image } from "astro:assets";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import Separator from "../unitComponents/Separator.astro";
import sideP from "../../assets/images/SidePanels/TolvasFE.webp";
import LearnBtn from "../unitComponents/LearnBtn.astro";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import BUFeeders from "../../assets/images/BinUnits/BUFeeders.webp";
import binHigh from "../../assets/images/BinUnits/binHigh.webp";
import img1 from "../../assets/images/BinUnits/TolvaCinta.webp";
import img2 from "../../assets/images/BinUnits/ProvBU1.webp";
import img3 from "../../assets/images/BinUnits/ProvBU3.webp";
import img4 from "../../assets/images/BinUnits/1.webp";
import img5 from "../../assets/images/BinUnits/2.webp";
import img6 from "../../assets/images/BinUnits/3.webp";
import Whatsbtn from "../unitComponents/Whatsbtn.astro";

import g29 from "../../assets/images/BinUnits/GallerySlider/Big/Cuadruple bin unit.webp";
import g25 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268A.webp";
import g26 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.webp";
import g27 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268C.webp";
import g28 from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268D.webp";

const binSlides2 = [
  {
    image: g29.src,
    caption: "Cuadruple bin unit",
  },

  {
    image: g25.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g26.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g27.src,
    caption: "Triple plus hopper unit",
  },
  {
    image: g28.src,
    caption: "Triple plus hopper unit",
  },
];
---

<div class="w-full flex flex-col gap-10">
  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
      <p class="text-sm lg:text-lg md:text-lg">
        Our bin units offer a wide range of features including as flow detectors
        for precise monitoring, and vibrators to ensure smooth material flow.
        Customizable with bin dividers, level indicators to prevent high- and
        low-level conditions, extensions, and grizzlies, they adapt to diverse
        material handling requirements, delivering efficiency and reliability in
        any project.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">24/7 Customer Service</h1>
      <p class="text-sm lg:text-lg md:text-lg">
        Our team is available around the clock, ready to assist you at any time,
        even on weekends and holidays.
      </p>
      <div
        class="flex justify-center items-center lg:justify-start lg:items-start md:justify-start md:items-start"
      >
        <div class="w-full lg:w-1/2 flex items-center mx-auto">
          <Whatsbtn />
        </div>
      </div>
    </div>
  </TwoColumnSection>
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 overflow-visible max-w-7xl px-8 mx-auto items-end"
  >
    <div class="w-full hidden lg:flex md:flex pr-20">
      <Image
        src={img1}
        alt="Manufacture of Belt Feeders with Rubberized Pulleys"
        class="rounded-lg"
      />
    </div>
    <div class="w-full flex flex-col gap-10">
      <div class="hidden lg:flex md:flex">
        <Image
          src={BUFeeders}
          alt="Belt Feeders with Rubberized Pulleys"
          class="rounded-2xl"
        />
      </div>

      <div class="w-full flex lg:hidden md:hidden">
        <Image
          src={img1}
          alt="Manufacture of Belt Feeders with Rubberized Pulleys"
          class="rounded-lg"
        />
      </div>
      <div class="w-full flex flex-col justify-center">
        <h1 class="text-lg md:text-xl font-bold">
          Belt Feeders with Rubberized Pulleys
        </h1>
        <br />
        <p class="text-base md:text-lg font-extralight text-grisT text-justify">
          Our belt feeders are equipped with rubberized head and tail pulleys,
          ensuring superior grip and minimizing slippage during operation. This
          design enhances durability, reduces wear on the belt, and provides
          reliable performance, even under heavy loads or challenging
          conditions.
        </p>
      </div>

      <div class="flex lg:hidden md:hidden">
        <Image
          src={BUFeeders}
          alt="Belt Feeders with Rubberized Pulleys"
          class="rounded-2xl"
        />
      </div>
    </div>
  </div>
  <div class="w-full max-w-7xl px-8 mx-auto text-2xl md:text-4xl font-bold">
    <div class="w-full flex flex-col lg:flex-row justify-between">
      <div>
        <h1 class="text-grisT">AESTHETIC SIDE PANELS</h1>
        <Separator />
      </div>
      <div class="text-start lg:text-end">
        <h2 class="text-redBg text-xl lg:text-4xl">
          ENHANCE YOUR COMPANY IMAGE <br /> WITH TRIASO DESIGN
        </h2>
      </div>
    </div>
    <div class="my-10 flex flex-col justify-center items-center gap-6">
      <Image src={sideP} alt="Aesthetic side panel" />
      <div class="max-w-[250px]">
        <LearnBtn href="/AestheticSide" />
      </div>
    </div>

    <div class="flex flex-col max-w-7xl mx-auto items-center">
      <div
        class="grid grid-cols-2 lg:flex lg:flex-row items-center justify-center"
      >
        <div>
          <Image src={img4} alt="Triaso® Conveyor Rollers" class="" />
        </div>
        <div>
          <Image src={img5} alt="Triaso® Conveyor Rollers" class="" />
        </div>
        <div class="col-span-2">
          <Image
            src={img6}
            alt="Triaso® Conveyor Rollers"
            class="w-1/2 mx-auto lg:w-full lg:mx-0"
          />
        </div>
      </div>
      <div class="pt-4">
        <h1 class="text-[#393939]">Triaso®</h1>
        <h1 class="uppercase text-[#393939]">conveyor rollers</h1>
        <p
          class="font-medium text-base md:text-xl font-[#393939] w-full md:w-4/6"
        >
          Our conveyor rollers for bin unit dosing belts and aggregate conveyors
          are manufactured in-house from cast iron, reducing dependence on
          third-party suppliers for replacement parts.
        </p>
      </div>
    </div>
  </div>

  <div
    class="relative bg-[url(/fondoAsp.webp)] hidden lg:flex md:flex bg-cover bg-center w-full"
  >
    <div class="absolute inset-0 bg-black/50"></div>
    <div
      class="relative w-full max-w-7xl px-8 lg:px-0 md:px-0 mx-auto py-10 grid grid-cols-1 gap-10"
    >
      <!-- 1 -->
      <div class="flex flex-col w-full md:flex-row lg:flex-row">
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl">Highly portable equipment</h1><br />
          <p class="text-base md:text-lg lg:pr-8 md:pr-8">
            We understand the importance of getting your equipment up and
            running as quickly as possible. Our Triaso equipment is designed for
            fast installation and startup.
          </p>
        </div>
        <div class="w-full flex justify-center py-5">
          <Image
            src={binHigh}
            alt="Truck eqquipped with a bin system unit"
            class="w-full rounded-2xl"
          />
        </div>
      </div>

      <!-- 2 -->
      <div class="flex flex-col-reverse w-full lg:flex-row md:flex-row">
        <div class="w-full flex py-5 items-start justify-start">
          <Image
            src={img2}
            alt="Truck eqquipped with a bin system unit"
            class="lg:w-[80%] md:w-[80%] rounded-2xl"
          />
        </div>
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl lg:text-end">Any time anywhere</h1><br
          />
          <p class="text-base md:text-lg lg:text-end">
            We understand the importance of keeping your equipment running
            non-stop.
          </p>
        </div>
      </div>

      <!-- 3 -->
      <div class="flex flex-col w-full md:flex-row lg:flex-row">
        <div class="text-white font-bold flex flex-col justify-center">
          <h1 class="text-2xl md:text-3xl">Easy Storage</h1><br />
          <p class="text-base md:text-lg lg:pr-8 md:pr-8">
            Designed for easy storage, our equipment can be quickly and
            conveniently stored anywhere.
          </p>
        </div>
        <div class="w-full flex justify-end py-5">
          <Image
            src={img3}
            alt="Bin system unit"
            class="lg:w-[80%] md:w-[80%] rounded-2xl"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="relative bg-[url(/fondoAsp.webp)] flex lg:hidden md:hidden bg-cover bg-center w-full"
  >
    <div class="absolute inset-0 bg-black/50"></div>
    <div
      id="auto-slider"
      class="relative w-full max-w-7xl px-8 lg:px-0 md:px-0 mx-auto py-10 gap-10 flex overflow-x-auto snap-x snap-mandatory"
    >
      <!-- 1 -->
      <div class="relative w-full snap-center shrink-0">
        <div class="absolute inset-0 bg-white/15 rounded-2xl"></div>
        <div
          class="relative z-10 flex flex-col w-full md:flex-row lg:flex-row p-6"
        >
          <div class="text-white font-bold flex flex-col justify-center">
            <h1 class="text-2xl md:text-3xl">Highly portable equipment</h1>
            <br />
            <p class="text-base md:text-lg lg:pr-8 md:pr-8">
              We understand the importance of getting your equipment up and
              running as quickly as possible. Our Triaso equipment is designed
              for fast installation and startup.
            </p>
          </div>

          <div class="w-full flex justify-center py-5">
            <Image
              src={binHigh}
              alt="Truck eqquipped with a bin system unit"
              class="w-full rounded-2xl"
            />
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div class="relative w-full snap-center shrink-0">
        <div class="absolute inset-0 bg-white/15 rounded-2xl"></div>
        <div
          class="relative z-10 flex flex-col justify-around items-center w-full h-full p-6"
        >
          <div class="text-white font-bold flex flex-col justify-center">
            <h1 class="text-2xl md:text-3xl">Any time anywhere</h1>
            <br />
            <p class="text-base md:text-lg lg:pr-8 md:pr-8">
              We understand the importance of keeping your equipment running
              non-stop.
            </p>
          </div>

          <div class="w-full flex justify-center py-5">
            <Image
              src={img2}
              alt="Truck eqquipped with a bin system unit"
              class="w-full rounded-2xl"
            />
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div class="relative w-full snap-center shrink-0">
        <div class="absolute inset-0 bg-white/15 rounded-2xl"></div>
        <div
          class="relative z-10 flex flex-col justify-around items-center w-full h-full p-6"
        >
          <div class="text-white font-bold flex flex-col justify-center">
            <h1 class="text-2xl md:text-3xl">Easy Storage</h1>
            <br />
            <p class="text-base md:text-lg lg:pr-8 md:pr-8">
              Designed for easy storage, our equipment can be quickly and
              conveniently stored anywhere.
            </p>
          </div>

          <div class="w-full flex justify-center py-5">
            <Image
              src={img3}
              alt="Truck eqquipped with a bin system unit"
              class="w-full rounded-2xl"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full px-4">
    <GallerySlider client:only slides={binSlides2} visibleThumbs={6} />
  </div>
</div>

<script>
  const slider = document.getElementById("auto-slider");

  if (slider) {
    const slides = slider.children.length;
    let index = 0;
    let resumeTimout;
    let interval = setInterval(moveSlider, 3000);

    function moveSlider() {
      index = (index + 1) % slides;

      slider.scrollTo({
        left: slider.clientWidth * index,
        behavior: "smooth",
      });
    }

    function pauseAutoplay() {
      clearInterval(interval);
      clearTimeout(resumeTimout);

      resumeTimout = setTimeout(() => {
        interval = setInterval(moveSlider, 4000);
      }, 2000);
    }

    slider.addEventListener("touchstart", pauseAutoplay, { passive: true });
  }
</script>
