---
import binUnit1 from "../../assets/images/BinUnits/binUnit1.webp";
import { Image } from "astro:assets";
import bin from "../../assets/images/BinUnits/GallerySlider/Big/TlvP317P268B.webp";
import AcordeonItem from "../unitComponents/AcordeonItem";
import img1 from "../../assets/images/BinUnits/ProvBU2.webp";
import img2 from "../../assets/images/BinUnits/TlvDosf.webp";
import img3 from "../../assets/images/BinUnits/ProvBU4.webp";
import img5 from "../../assets/images/BinUnits/Consola.webp";
import img6 from "../../assets/images/BinUnits/BinUnitsOS.webp";
import img7 from "../../assets/images/BinUnits/FineVibrator.webp";
import OSectionBin from "./OSectionBin.astro";
---

<div class="w-full flex flex-col items-center justify-center mt-10">
    <!-- ----- -->

    <div
        class="w-full flex flex-col items-center justify-center font-bold mt-10"
    >
        <div class="max-w-7xl px-8 mx-auto flex justify-center">
            <Image
                src={img1}
                alt="Precision Dosing System"
                class="hero-img w-1/2 rounded-lg"
            />
        </div>
        <div class="max-w-7xl px-8 mx-auto flex flex-col md:flex-row items-center gap-6">
            <div class="w-full mt-10 pr-5">
                <h2 class="text-black text-lg md:text-xl">
                    Precision Dosing Systems in Bin Units
                </h2>
                <p class="text-grisT text-base md:text-lg text-justify">
                    Our bin units are equipped with advanced dosing systems
                    designed for optimal precision and reliability. These
                    systems ensure accurate material flow and distribution,
                    meeting the demands of even the most stringent project
                    requirements.
                </p>
            </div>

            <div class="w-full hidden lg:flex md:w-full">
                <Image
                    src={img3}
                    alt="Precision Dosing System"
                    class="side-img rounded-2xl scale-105 will-change-transform"
                />
            </div>
        </div>
        <div
            class="flex max-w-7xl mx-auto px-8 justify-center items-center py-10 lg:hidden"
        >
            <Image
                src={img2}
                alt="Precision Dosing System"
                class="rounded-2xl md:w-1/2"
            />

        </div>
        <div
            class="max-w-7xl hidden px-8 lg:flex justify-center lg:justify-start lg:items-start"
        >
            <Image
                src={img2}
                alt="Precision Dosing System"
                class="fade-img rounded-lg lg:w-1/2 will-change-transform"
            />
            <div class="w-full mt-10 pl-5">
                <h2 class="text-black text-lg md:text-xl">
                    Dosing Systems by precise volume
                </h2>
                <p class="text-grisT text-base md:text-lg text-justify">
                    Since our beginnings as asphalt plant manufacturers, we
                    identified a common issue across most plants on the market:
                    aggregate dosing based solely on weight rather than volume.
                    This approach limits mix design accuracy, as aggregate
                    weight varies with moisture content, while volume remains
                    consistent.
                </p>
            </div>
        </div>

        <!-- móvil -->
        <div class="relative flex flex-col lg:hidden">
            <div class="max-w-7xl mx-auto px-8 pb-5">
                <h2 class="text-black text-lg md:text-xl">
                    Dosing Systems by precise volume
                </h2>
                <p class="text-grisT text-base md:text-lg text-justify">
                    Since our beginnings as asphalt plant manufacturers, we
                    identified a common issue across most plants on the market:
                    aggregate dosing based solely on weight rather than volume.
                    This approach limits mix design accuracy, as aggregate
                    weight varies with moisture content, while volume remains
                    consistent.
                </p>
            </div>

            <div
                class="flex max-w-7xl mx-auto px-8 justify-center items-center pt-5 lg:hidden"
            >
                <Image
                    src={img3}
                    alt="Precision Dosing System"
                    class="rounded-2xl md:w-1/2"
                />
            </div>
        </div>
    </div>
    <!-- ------ -->
    <div class="w-full max-w-7xl px-8 mx-auto font-bold my-[5rem] lg:my-10">
        <h1 class="text-blueMain text-3xl md:text-4xl text-center">
            The Triaso team understands that proper material handling and
            storage are key to optimal performance and durability
        </h1>
    </div>
    <div
        class="w-full max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-5 md:gap-10 items-start justify-center mb-5"
    >
        <div class="col-span-2 flex justify-start md:justify-center">
            <Image
                src={binUnit1}
                alt="Precision Dosing System in action"
                class="w-3/4 md:w-full"
            />
        </div>
        <div class="col-span-3 flex flex-col items-start h-full justify-center">
            <div class="w-full flex flex-col gap-3 md:gap-6">
                <AcordeonItem
                    client:only
                    title="High-Precision Sensors"
                    content="Integrated sensors monitor material levels in real time, allowing for precise control of dosing quantities and preventing overflows or shortages."
                />
                <AcordeonItem
                    client:only
                    title="Adjustable Flow Rates"
                    content="The system allows operators to modify the flow rate, accommodating a wide range of materials, from fine aggregates to larger-sized rocks or sand."
                />
                <AcordeonItem
                    client:only
                    title="Consistent Material Distribution"
                    content="Ensures uniform dosing to maintain a balanced mixture in downstream operations, such as mixing or crushing processes."
                />
                <AcordeonItem
                    client:only
                    title="Automated Controls"
                    content="Equipped with programmable logic controllers (PLCs), the system can be automated for consistent and repeatable performance across different projects."
                />
                <AcordeonItem
                    client:only
                    title="Anti-Clogging Mechanism"
                    content="Specially designed chutes and gates minimize the risk of blockages, ensuring a smooth and uninterrupted material flow."
                />
                <AcordeonItem
                    client:only
                    title="Energy-Efficient Operation"
                    content="Engineered to optimize power usage, reducing operational costs while maintaining high performance."
                />
            </div>
        </div>
    </div>
    <div class="w-full bg-grisSubP">
        <div class="w-full -skew-y-1 overflow-hidden bg-bgBeige">
            <div
                class="w-full max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 py-10 text-black skew-y-1"
            >
                <div class="p-4 font-bold rounded-2xl">
                    <h1 class="text-lg md:text-xl">Durable Construction</h1><br
                    />
                    <p class="text-grisT text-base md:text-lg font-thin">
                        Our bin units are engineered with wear-resistant
                        materials that perform exceptionally under abrasive and
                        heavy loads. Their robust construction provides
                        long-term reliability, the system remains reliable even
                        under the harshest working conditions.
                    </p>
                </div>
                <div class="p-4 font-bold rounded-2xl">
                    <h1 class="text-lg md:text-xl">Customizable Settings</h1><br
                    />
                    <p class="text-grisT text-base md:text-lg font-thin">
                        The dosing system provides the flexibility to meet the
                        specific demands of each project. With options for both
                        manual and automatic adjustment, it allows precise
                        control of material flow.
                    </p>
                </div>
            </div>
        </div>
        <div class="max-w-7xl mx-auto w-full flex justify-center">
            <Image
                src={bin}
                alt="Bin unit with a worker next to it"
                class="max-h-[600px]"
            />
        </div>

        <div class="max-w-7xl mx-auto px-8 pb-5">
            <div
                class="flex flex-col md:flex-row justify-evenly items-center gap-6"
            >
                <div class="flex flex-col space-y-5">
                    <h2 class="font-bold text-lg md:text-xl">
                        Fines Bin Vibrator for Continuous Material Flow
                    </h2>
                    <p class="font-bold text-[#393939] w-4/5">
                        Equipped with a vibrator in the fines bin to prevent
                        material buildup caused by humidity and ensure
                        continuous feeding.
                    </p>
                </div>
                <div class="w-full flex justify-center">
                    <Image
                        src={img7}
                        alt="Fines Bin Vibrator"
                        class="w-full md:w-3/5 object-cover rounded-lg"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full max-w-7xl mx-auto my-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mx-auto">
            <div class="hidden lg:block">
                <Image src={img5} alt="Console" class="rounded-md" />
            </div>
            <div class="flex justify-center items-center">
                <div class="flex flex-col gap-6 px-8 py-5">
                    <h1
                        class="font-bold text-lg text-center lg:text-start md:text-start"
                    >
                        Integrated Control Over Aggregate Flow
                    </h1>
                    <p class="text-[#393939] text-justify lg:w-4/5 md:w-4/5">
                        Real-time monitoring gives operators full control over
                        material flow and production data through the central
                        control system, allowing quick adjustments and
                        consistent hot-mix results.
                    </p>
                </div>
            </div>
            <div class="flex justify-end items-end mx-auto py-10 lg:hidden">
                <Image src={img5} alt="Console" class="rounded-md" />
            </div>

            <div class="flex justify-center items-center">
                <div class="flex flex-col gap-6 px-8">
                    <h1
                        class="font-bold text-lg text-center lg:text-start md:text-start"
                    >
                        Precision Dosing for Reliable Results
                    </h1>
                    <p class="text-[#393939] text-justify lg:w-4/5 md:w-4/5">
                        Ajustable gates, bin units provide precise control of
                        aggregate dosing. This accuracy ensures for consistent
                        mix quality and repeatable results, even when working
                        with different material types or gradations.
                    </p>
                    <p class="text-[#393939] text-justify lg:w-4/5 md:w-4/5">
                        Real-time monitoring provides complete control over
                        aggregates, allowing continuous access to production
                        data and equipment performance.
                    </p>
                </div>
            </div>

            <div class="px-8">
                <Image
                    src={img6}
                    alt="Triaso Relief system"
                    class="rounded-md"
                />
            </div>
        </div>
    </div>

    <div class="w-full">
        <OSectionBin />
    </div>
</div>
<script is:inline>
    function toggleDropdown() {
        const dropdown = document.getElementById("extradiv2");
        const arrow = document.getElementById("dropdown-arrow2");

        if (dropdown.style.maxHeight === "0px" || !dropdown.style.maxHeight) {
            // Abrir dropdown
            dropdown.style.maxHeight = dropdown.scrollHeight + "px";
            arrow.style.transform = "rotate(180deg)";
        } else {
            // Cerrar dropdown
            dropdown.style.maxHeight = "0";
            arrow.style.transform = "rotate(0deg)";
        }
    }
</script>
<script>
    import { initScrollAnimations } from "../../components/BinUnits/scrollAnimationBin";

    if (typeof window !== "undefined") {
        window.addEventListener("DOMContentLoaded", () => {
            initScrollAnimations();
        });
    }
</script>
