---
import { Image } from "astro:assets";
import flag from "../../assets/images/Burners/flag.svg";
import ficha from "../../assets/images/Burners/ficha.webp";
import wordIcon from "../../assets/images/Burners/world.webp";
import batchIcon from "../../assets/images/Burners/batch.webp";
import preHeat from "../../assets/images/Burners/preHeat.webp";
import SmartVideo from "../unitComponents/SmartVideo";
---

<div class="flex flex-col mt-20 font-bold">
  <section class="flex flex-col w-full">
    <div
      id="HeatingSystem"
      class="scroll-mt-20 text-3xl md:text-4xl font-bold w-full text-start max-w-7xl mx-auto px-8"
    >
      <h1 class="text-grisT">BURNERS</h1>
      <div class="mt-4 mb-6 flex">
        <div class="w-20 h-0.5 bg-red-500"></div>
        <div class="w-20 h-0.5 bg-gray-300"></div>
      </div>
    </div>

    <div class="flex flex-col items-center justify-center px-8 w-full">
      <SmartVideo
      client:visible
      src="/Videos/Webm/burnerVideo.webm"
      poster="/Gallery/AsphaltPlantPoster/6.webp"
      desktopHeight="50%"
      desktopWidth="50%"
      autoplayOnMobile={true}
      isLoop={true}
      />

      <h2 class="font-bold text-center my-5">
        From 6 to 125 million Btu/Hr, with preheater and filter
      </h2>
    </div>

    <div class="relative w-full min-h-[600px]">

      <video
        class=" absolute inset-0 w-full h-full object-cover z-0"
        autoplay
        playsinline
        muted
        loop
        poster="/Gallery/customdes.webp"
        preload="metadata"
        width="1280"
        height="720"
      >
        <source src="/Videos/Webm/bprov1.webm" type="video/webm" />
      </video>

      <div class="absolute inset-0 bg-black/50 z-0"></div>

      <div class="relative z-10">
        <div
          class="grid grid-cols-1 lg:grid-cols-2 gap-4 pt-[80px] lg:mt-[120px] md:mt-[120px] px-8 lg:px-60 "
        >
          <div
            class="font-semibold text-sm md:text-base p-4 rounded-xl shadow-2xs text-white"
          >
            <h2 class="text-white font-bold text-center">Low NOx emissions</h2>
            <div class="border-t-2 border-white my-2"></div>
            <p
              class="text-center lg:text-justify md:text-justify text-[#d9d9d9]"
            >
              <strong class="text-white">Low NOx emissions </strong>(nitrogen
              oxides) are achieved, minimizing the release of this greenhouse
              gas, which is strictly regulated in many regions, mainly in urban
              areas. The system can be equipped with a flame protection module
              that further reduces NOx levels, reaching near-zero emissions.
            </p>
            <p class="text-center lg:text-justify md:text-justify text-white">
              By achieving total combustion, several issues are avoided:
            </p>
            <ul
              class="pl-4 pt-4 text-[#d9d9d9] text-start lg:text-justify md:text-justify"
            >
              <li class="list-disc">Atmospheric pollution.</li>
              <li class="list-disc">Contamination of the hot-mix.</li>
              <li class="list-disc">Baghouse clogging and fire risk.</li>
            </ul>
          </div>

          <div
            class="font-semibold text-sm md:text-base p-4 rounded-xl shadow-2xs"
          >
            <h2 class="text-white font-bold text-center">100% regulated air</h2>
            <div class="border-t-2 border-white my-2"></div>
            <p
              class="text-center lg:text-justify md:text-justify text-[#d9d9d9]"
            >
              The burner regulates <strong class="text-[#c91c1c]"
                >100% of the air combustion</strong
              > without relying on the drum's exhaust system. This ensures complete
              combustion and <strong class="text-[#c91c1c]"
                >100% fuel utilization</strong
              >.
            </p>

            <ul
              class="pl-4 pt-4 text-start lg:text-justify md:text-justify text-white"
            >
              <li class="list-disc">
                A sealed installation prevents cold air from entering, that
                would otherwise be used to heat it and allowing precise,
                efficient combustion.
              </li>
              <li class="list-disc pb-10">
                Efficiency remains stable regardless of temperature changes
                throughout the day.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-full bg-[url(/newBanner.webp)] bg-no-repeat bg-center bg-cover px-8 lg:px-52 py-10 lg:py-20"
    >
      <div class="flex flex-col justify-center items-center max-w-7xl mx-auto">
        <div class="w-full flex justify-center">
          <Image
            src={flag}
            alt="Burner machine"
            class="w-[150px] md:w-[200px]"
          />
        </div>

        <p
          class="text-white font-bold text-center text-sm lg:text-justify lg:text-xl md:text-justify md:text-xl"
        >
          Our latest burner innovation features an oxygen sensor that
          automatically regulates excess oxygen to no more than 3%, eliminating
          the need for manual fuel carburization adjustment when relocating the
          equipment. Thanks to our self-carburizing system, NOx levels remain
          even lower.
        </p>
      </div>
    </div>

    <div class="w-full bg-[url(/HeroFH.webp)] bg-no-repeat bg-center bg-cover">
      <div class="w-full max-w-7xl mx-auto px-8 py-10">
        <h2
          class="font-bold text-white text-center lg:text-start md:text-start text-xl md:text-2xl"
        >
          FUEL PREHEATERS
        </h2>
      </div>
      <div
        class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 md:grid-cols-2 gap-10"
      >
        <div
          class="w-full text-white font-thin text-base text-center lg:text-start md:text-start md:text-lg"
        >
          <p>
            With our preheaters, we reduce fuel viscosity, ensuring proper
            atomization and clean combustion — without delays or the need for
            external heat sources.
          </p>
        </div>
        <div
          class="w-full text-white font-thin text-base md:text-lg flex justify-center items-start gap-10"
        >
          <Image src={ficha} alt="Chip icon" class="w-[60px] h-[60px]" />
          <p class="text-center lg:text-start md:text-start">
            We raise fuel temperature up to 40 °C, even with flow rates up to
            840 liters per hour.
          </p>
        </div>
      </div>
      <div
        class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 py-10 mx-auto items-center"
      >
        <div
          class="w-full bg-blueMain p-6 lg:pl-20 lg:py-5 md:pl-20 md:py-5 text-white rounded-r-lg h-auto"
        >
          <h2
            class="font-bold text-base text-center lg:text-start md:text-start md:text-lg"
          >
            Problems caused by not preheating low-cost fuels:
          </h2>
          <ul class="list-disc ml-6 text-sm md:text-base">
            <li>Unburned microdroplets cause significant fuel loss.</li>
            <li>
              The hot-mix asphalt becomes contaminated with unburned fuel.
            </li>
            <li>
              This contamination drastically reduces the pavement's lifespan.
            </li>
            <li>
              Additionally, the atmosphere is affected by gases from incomplete
              combustion.
            </li>
          </ul>
        </div>
        <div class="w-full flex justify-center items-center">
          <Image src={preHeat} alt="Fuel Pre-heater" class="w-1/2" />
        </div>
      </div>
    </div>

    <div class="w-full bg-bgBeige py-10">
      <div
        class="w-full max-w-7xl mx-auto px-8 grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-10"
      >
        <div class="w-full">
          <div
            class="w-3/5 flex gap-6 justify-center items-center mx-auto lg:mx-0 md:mx-0"
          >
            <Image src={wordIcon} alt="World icon" class="w-[60px] h-[60px]" />
            <h2 class="text-base md:text-lg font-bold text-black">
              Efficient and environmentally responsible
            </h2>
          </div><br />
          <p
            class="font-thin text-grisT text-center lg:text-start md:text-start"
          >
            You get lower fuel consumption and cleaner operation, producing
            fewer NOx emissions without compromising performance.
          </p>
        </div>
        <div class="w-full">
          <div
            class="w-3/5 flex gap-6 justify-center items-center mx-auto lg:mx-0 md:mx-0"
          >
            <Image src={batchIcon} alt="Batch icon" class="w-[60px] h-[60px]" />
            <h2 class="text-base md:text-lg font-bold text-black">
              Included in every plant, not as a costly add-on
            </h2>
          </div><br />
          <p
            class="font-thin text-grisT text-center lg:text-start md:text-start"
          >
            Other brands offer total-air burners and preheaters as expensive
            extras. At Triaso®, we include them as standard equipment in every
            plant configuration — because clean combustion shouldn’t be
            optional.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

