---
import { Image } from "astro:assets";
import LearnBtn from "../unitComponents/LearnBtn.astro";
import siloSealed from "../../assets/images/HotMix/siloSealed.webp";
import siloUse from "../../assets/images/HotMix/siloUse.webp";
import siloCone from "../../assets/images/HotMix/siloCone.webp";
import stationarySilo from "../../assets/images/AsphaltPlant/silos3.webp";
import single from "../../assets/images/HotMix/HMProv1.webp";
import arrowIcon from "../../assets/images/HotMix/icon1.webp";
import timeIcon from "../../assets/images/HotMix/icon2.webp";
import lockIcon from "../../assets/images/HotMix/icon3.webp";
import noCrane from "../../assets/images/HotMix/icon4.webp";
import siloIcon from "../../assets/images/HotMix/icon5.webp";
import SmartVideo from "../unitComponents/SmartVideo";
---

<div
  class="flex flex-col items-center justify-center max-w-7xl mx-auto mt-10 md:mt-20 font-bold text-grisT"
>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 space-x-0 lg:space-x-10 md:space-x-10"
  >
    <div class="p-4 flex flex-col items-center justify-center">
      <div id="HotMix" class="scroll-mt-20">
        <h1 class="lg:text-4xl text-2xl w-full text-start text-[#393939]">
          HOT-MIX STORAGE SILOS
        </h1>
        <p class="text-justify text-sm lg:text-base md:text-base my-5">
          Triaso® hot-mix storage silos are engineered to optimize the storage,
          handling and delivery of hot-mix, ensuring top-quality performance
          while meeting the demands of modern construction projects. Designed
          for durability and efficiency, these silos maintain the temperature
          and integrity of the mix for up to 72 hours.
        </p>
      </div>

      <div class="w-full mx-auto mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-16 items-center">
          <div
            class="flex flex-col items-center lg:items-start justify-center gap-10 md:gap-20 w-full"
          >
            <div
              class="flex flex-col justify-center items-center lg:items-start rounded-lg space-y-10"
            >
              <div class="flex flex-col">
                <div
                  class="flex text-5xl font-normal justify-center lg:justify-start items-center lg:items-baseline w-full"
                >
                  <p class="text-black">50-200</p>
                  <p class="text-sm font-normal ml-3 text-black">Tons</p>
                </div>
                <p class="text-black font-thin text-center lg:text-start w-full text-base">
                  Range of hot-mix storage capacity
                </p>
              </div>

              <div
                class="flex flex-col text-5xl font-normal justify-center lg:justify-start items-center lg:items-baseline w-full"
              >
                <div class="flex flex-row items-baseline">
                  <p class="text-black">10</p>
                  <p class="text-sm font-normal ml-3 text-black">mins</p>
                </div>
                <p class="text-black font-thin text-center lg:text-start w-full text-base">
                  Set-up time
                </p>
              </div>

              <div class="flex flex-col">
                <div
                  class="flex text-5xl font-normal justify-center lg:justify-start items-center lg:items-baseline w-full"
                >
                  <p class="text-black">72</p>
                  <p class="text-sm font-normal ml-3 text-black">hours</p>
                </div>
                <p class="text-black font-thin text-center lg:text-start w-full text-base">
                  Preservation quality
                </p>
              </div>
            </div>
          </div>

          <div
            class="flex flex-col items-center md:items-end justify-center w-full"
          >
            <div class="w-full">
              <Image
                src={single}
                alt="Machine detail"
                class="w-full h-auto object-contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-6">
      <div
        class="grid grid-cols-2 lg:grid-cols-3 flex-col lg:flex-row md:flex-row justify-between bg-[#fffaeb] p-5 rounded-lg gap-4"
      >
        <div
          class="flex flex-col justify-center items-center text-center space-y-6 lg:space-y-2"
        >
          <p class="text-[12px] lg:text-base md:text-base">
            Sealed from Top to Bottom
          </p>
          <Image
            src={siloSealed}
            alt="Silo sealed"
            class="lg:w-[80%] md:w-[80%]"
          />
        </div>

        <div class="flex flex-col justify-center items-center text-center">
          <p class="mt-2 text-[12px] lg:text-base md:text-base">
            Even distribution without segregation
          </p>
          <Image
            src={siloUse}
            alt="Usage of the Silo"
            class="lg:w-[80%] md:w-[80%]"
          />
        </div>

        <div
          class="flex flex-col justify-start items-center text-center col-span-2 lg:col-span-1"
        >
          <p class="mt-2 text-[12px] lg:text-base md:text-base">Silo cone</p>
          <br />
          <Image
            src={siloCone}
            alt="Silo Cone"
            class="w-1/2 lg:w-[80%] md:w-[80%]"
          />
        </div>
      </div>

      <div class="px-5 lg:px-0 md:px-0">
        <p class="text-2xl text-center lg:text-start font-semibold">
          Self-erecting silo
        </p>

        <SmartVideo
        client:visible
        src="/Videos/Webm/HMinclinado.webm"
        poster="/Gallery/AsphaltPlantPoster/10.webp"
        isLoop={true}
        autoplayOnMobile={true}
        />

      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 px-5 my-5 lg:my-5 md:my-5">
    <div>
      <div class="flex flex-col">
        <p class="text-start lg:text-end md:text-end text-2xl">
          STATIONARY SILO
        </p>
        <Image src={stationarySilo} alt="Stationary silo" />
      </div>
    </div>
    <div>
      <div
        class="grid grid-cols-3 gap-2 md:gap-6 justify-center max-w-6xl mx-auto mb-5 lg:mb-0 md:mb-0"
      >
        <div
          class="aspect-square w-full bg-white p-2 md:p-5 rounded-md flex flex-col justify-center items-center text-center shadow-sm"
        >
          <Image
            src={arrowIcon}
            alt="Arrow icon"
            class="w-10 h-10 lg:w-12 md:w-12 lg:h-12 md:h-12 object-contain"
          />
          <p
            class="mt-1 md:mt-3 text-[9px] leading-tight md:text-[15px] lg:text-[15px] font-semibold"
          >
            Telescopic hydraulic cylinders for lifting.
          </p>
        </div>
        <div
          class="aspect-square w-full bg-white p-2 md:p-5 rounded-md flex flex-col justify-center items-center text-center shadow-sm"
        >
          <Image
            src={timeIcon}
            alt="Watch icon"
            class="w-10 h-10 lg:w-12 md:w-12 lg:h-12 md:h-12 object-contain"
          />
          <p
            class="mt-1 md:mt-3 text-[10px] leading-tight md:text-sm lg:text-base font-semibold"
          >
            Lifting time of 10 minutes
          </p>
        </div>

        <div
          class="aspect-square w-full bg-white p-2 md:p-5 rounded-md flex flex-col justify-center items-center text-center shadow-sm"
        >
          <Image
            src={lockIcon}
            alt="Lock icon"
            class="w-10 h-10 lg:w-12 md:w-12 lg:h-12 md:h-12 object-contain"
          />
          <p
            class="mt-1 md:mt-3 text-[10px] leading-tight md:text-sm lg:text-base font-semibold"
          >
            Vertical and horizontal positioning
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-[#383838] w-full">
  <div class="mx-auto">
    <div class="text-white p-8 md:p-12">
      <div
        class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 h-full">
          <div
            class="border-2 border-white rounded-xl p-6 flex items-center h-full"
          >
            <p class="font-bold text-sm lg:text-lg md:text-lg leading-tight">
              With support structure, high enough to accommodate dump trucks
            </p>
          </div>
          <div
            class="border-2 border-white rounded-xl p-6 flex flex-col justify-center h-full"
          >
            <p
              class="font-bold text-sm lg:text-lg md:text-lg leading-tight mb-4"
            >
              Gate with pneumatic system to release the hot mix to the trucks
            </p>
            <p class="text-xs text-gray-300 leading-snug">
              Does not include compressor and air tank, it uses the air system
              from the asphalt plant.
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-8 lg:pl-12">
          <div class="flex items-center gap-6">
            <div class="shrink-0">
              <Image
                src={noCrane}
                alt="No cranes"
                class="w-20 h-20 object-contain"
              />
            </div>
            <h1 class="text-lg lg:text-2xl md:text-2xl font-bold">
              No cranes required for installation
            </h1>
          </div>
          <div class="flex items-center justify-between gap-6">
            <h1 class="text-lg lg:text-2xl md:text-2xl font-bold leading-tight">
              The most versatile and mobile silo on the market.
            </h1>
            <div class="shrink-0">
              <Image
                src={siloIcon}
                alt="Silo icon"
                class="w-20 h-20 object-contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <LearnBtn href="/HotMix" label="Go to page Hot Mixers" />
</div>
