---
import DMVideo from "../../assets/images/DrumMixers/DMVideo.mp4";
import baghouse from "../../assets/images/DrumMixers/Low/bagHouses1Low.webp";
import baghouse2 from "../../assets/images/DrumMixers/baghouse2.webp";
import { Image } from "astro:assets";
import SeparatorBlue from "../unitComponents/SeparatorBlue.astro";
import GallerySlider from "../../components/unitComponents/GallerySlider";
import g1 from "../../assets/images/DrumMixers/Gallery/DM1.webp";
import g2 from "../../assets/images/DrumMixers/Gallery/DM2.webp";
import g3 from "../../assets/images/DrumMixers/Gallery/DM3.webp";
import g4 from "../../assets/images/DrumMixers/Gallery/DM4.webp";
import g5 from "../../assets/images/DrumMixers/Gallery/DM5.webp";
import g6 from "../../assets/images/DrumMixers/Gallery/DM6.webp";
import g7 from "../../assets/images/DrumMixers/Gallery/DM7.webp";
import g8 from "../../assets/images/DrumMixers/Gallery/DM8.webp";
import g9 from "../../assets/images/DrumMixers/Gallery/DM9.webp";
import g10 from "../../assets/images/DrumMixers/Gallery/DM10.webp";
import g11 from "../../assets/images/DrumMixers/Gallery/DM11.webp";
import g12 from "../../assets/images/DrumMixers/Gallery/DM13.webp";
import g13 from "../../assets/images/DrumMixers/Gallery/DM14.webp";
import g14 from "../../assets/images/DrumMixers/Gallery/DM15.webp";
import g15 from "../../assets/images/DrumMixers/Gallery/DM16.webp";
import g16 from "../../assets/images/DrumMixers/Gallery/DM17.webp";
import SmartVideo from "../unitComponents/SmartVideo";

const binSlides2 = [
  {
    image: g1.src,
    caption: "Drum mixer, 110-150 Tph, counter-flow, in working position",
  },
  {
    image: g2.src,
    caption: "Drum mixer, 110-150 Tph, counter-flow, in working position",
  },
  {
    image: g3.src,
    caption: "Drum mixer, 110-150 Tph, counter-flow, in transporting position",
  },
  {
    image: g4.src,
    caption: "Drum mixer, 60-80 Tph, counter-flow, in working position",
  },
  {
    image: g5.src,
    caption: "Drum mixer, 60-80 Tph, counter-flow, in working position",
  },
  {
    image: g6.src,
    caption: "Drum mixer, 60-80 Tph, counter-flow, in working position",
  },
  {
    image: g7.src,
    caption: "Drum mixer, 60-80 Tph, counter-flow, in transporting position",
  },
  {
    image: g8.src,
    caption:
      "Drum mixer, 110-150 Tph, counter-flow, with pugmill, in working position",
  },
  {
    image: g9.src,
    caption:
      "Drum mixer, 110-150 Tph, counter-flow, with pugmill, in working position",
  },
  {
    image: g10.src,
    caption:
      "Drum mixer, 110-150 Tph, counter-flow, with pugmill, in transporting position",
  },
  {
    image: g11.src,
    caption:
      "Drum mixer, 110-150 Tph, counter-flow, with pugmill, in working position with RAP Bin",
  },
  {
    image: g12.src,
    caption: "Control console, with Plus computer for counterflow plant",
  },
  {
    image: g13.src,
    caption: "Triple bin unit, Plus version",
  },
  {
    image: g14.src,
    caption: "Triple bin unit, Plus version",
  },
  {
    image: g15.src,
    caption: "Triple bin unit, Plus version",
  },
  {
    image: g16.src,
    caption: "Triple bin unit, Plus version",
  },
];
---

<div class="flex justify-center">
  <div class="max-w-7xl px-8 flex flex-col text-grisT font-bold gap-6">
    <div>
      <h1 class="w-full text-start text-2xl md:text-4xl lg:mb-10">
        INTEGRATED BAGHOUSES
      </h1>
    </div>
    <div class="max-w-7xl">
      <SeparatorBlue />
    </div>
    <div class="max-w-7xl">
      <p class="text-base md:text-lg">
        Baghouses are crucial for controlling dust and maintaining air quality
        in industrial settings. They efficiently capture particulate matter,
        ensuring compliance with environmental standards and creating a safer
        work environment. Ideal for industries like asphalt plants and aggregate
        processing, baghouses offer reliable, long-lasting performance.
      </p>
    </div>
  </div>
</div>

<div
  class="w-full flex flex-col items-center justify-center text-grisT font-bold mt-20 gap-0 md:gap-6"
>
  <div
    class="grid grid-cols-1 max-w-7xl mx-auto md:grid-cols-2 justify-center items-center gap-5 px-8 w-full"
  >
    <div class="flex flex-col justify-center rounded-lg space-y-10">
      <div class="flex flex-col space-y-2">
        <div
          class="flex text-5xl font-normal justify-center lg:justify-start items-baseline w-full"
        >
          <p class="text-black">4 - 90</p>
          <p class="text-sm font-normal ml-3 text-black">thousand ACFM</p>
        </div>
        <p
          class="text-black font-thin text-center lg:text-start w-full text-base"
        >
          Baghouses capacity
        </p>
      </div>

      <div
        class="flex flex-col space-y-2"
      >
        <div class="flex text-5xl font-normal justify-center lg:justify-start items-baseline w-full">
          <p class="text-black">99.99</p>
          <p class="text-sm font-normal ml-3 text-black">%</p>
        </div>
        <p
          class="text-black font-thin text-center lg:text-start w-full text-base"
        >
          Fine particle filtration efficiency
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <Image src={baghouse} alt="Baghouse" class="lg:max-w-[150%]" />
    </div>
  </div>

  <div class="max-w-[2400px] w-full flex justify-center items-center">
    <div
      class="w-full flex flex-col-reverse md:grid md:grid-cols-5 text-white my-0 md:my-10 justify-center"
    >
      <div class="w-full h-full md:col-span-2 py-10">
        <Image src={baghouse2} alt="" class="w-full h-full object-cover" />
      </div>
      <div
        class="w-full md:col-span-3 bg-blueMain px-8 lg:pr-52 py-6 lg:py-0 flex flex-col justify-center md:rounded-l-2xl h-full"
      >
        <h2 class="text-xl md:text-2xl mb-4 text-start">
          Mechanism of baghouses available in pulse jet and reverse jet
        </h2>
        <p class="text-grisSubP mb-4 md:mb-0">
          <span class="text-white">Pulse Jet:</span> A cleaning system that uses short
          bursts of compressed air to dislodge dust and debris from the filter bags,
          maintaining continuous airflow and filtration efficiency.
        </p><br />
        <p class="text-grisSubP">
          <span class="text-white">Reverse Air:</span>
          A cleaning system that directs low-pressure air in the opposite direction
          to remove dust from the filter bags, typically used in larger baghouses
          or high-dust applications.
        </p>
      </div>
    </div>
  </div>

  <div
    class="w-full flex justify-center items-center gap-10 px-8 md:px-52 bg-grisT py-10 bg-[url('/Gallery/telasDrum.webp')]"
  >
    <div>
      <h2 class="text-lg md:text-xl text-white">
        Different Types of Filter Bags and Their Specific Applications:
      </h2>
      <ul class="list-disc pl-6 text-grisSubP">
        <li>Polyester</li>
        <li>Nomex</li>
        <li>Polyamide (P84)</li>
      </ul>
    </div>
  </div>
  <div
    class="max-w-7xl flex flex-col px-8 mx-auto justify-center items-center space-y-10"
  >
  <SmartVideo
  client:visible
  src="/Videos/Webm/DMVideo.webm"
  poster="/Gallery/customdes.webp"
  autoplayOnMobile={true}
  isLoop={true}
  />
    <a
      href="/BagHouses"
      class="p-2 w-36 text-center rounded-3xl border border-[#14427c] text-[#14427c] mx-auto transition hover:bg-blueMain hover:text-white"
    >
      Learn more...
    </a>
  </div>
</div>

<div class="max-w-7xl px-8 mx-auto">
  <GallerySlider client:idle slides={binSlides2} visibleThumbs={6} />
</div>
