---
import LearnBtn from "../unitComponents/LearnBtn.astro";
import rap from "../../assets/images/DrumMixers/rap.webp";
import Logo from "../../assets/logos/LogoTriasoMX.svg";
import Separator from "../unitComponents/SeparatorBlue.astro";
import sideP from "../../assets/images/DrumMixers/Low/sidePLow.webp";
import drumTires from "../../assets/images/DrumMixers/Low/drumtiresLow.webp";
import { Image } from "astro:assets";
import rapEntry from "../../assets/images/DrumMixers/Low/a21Low.webp";
import trunnionImage from "../../assets/images/DrumMixers/Low/trunnionsLow.webp";
import LearnBtnBlue from "../unitComponents/LearnBtnBlue.astro";
---

<div class="w-full flex flex-col items-center justify-center font-bold">
    <div
        class="bg-[#2b2b2b] text-white flex flex-col justify-center pt-10 w-full"
    >
        <div class="max-w-7xl px-8 mx-auto relative">
            <h2 class="text-xl md:text-2xl relative z-20">
                Always matching your project
            </h2>
            <br />
            <p class="font-thin text-sm lg:text-lg md:text-lg relative z-20">
                We give you options to match your project demands—offering drum
                shells in 5/16", 3/8" or 1/2" thicknesses. Every shell, no
                matter the gauge, is manufactured in-house using high-strength
                A-572 alloy steel to ensure consistent durability and
                performance.
            </p><br />
            <Image
                src={Logo}
                alt="Triaso Logo"
                class="absolute top-0 left-0 z-10 w-full"
            />
        </div>

        <div
            class="grid grid-cols-1 md:grid-cols-2 justify-between items-center w-full text-white max-w-7xl px-8 mx-auto z-20 gap-10 md:gap-20"
        >
            <div
                class="flex flex-col items-center justify-center lg:pt-5 md:pt-5"
            >
                <Image src={trunnionImage} alt="Trunnions" class="w-full" />
                <h2 class="w-full text-start text-xl pt-5 md:text-2xl">
                    TRUNNIONS
                </h2><br />
                <p class="text-[#d9d9d9] text-sm lg:text-lg md:text-lg">
                    Heavy-duty trunnions made from precision-machined steel and
                    equipped with industrial bearings for smooth, stable drum
                    rotation.
                </p>
            </div>
            <div
                class="flex flex-col items-center justify-center lg:pt-5 md:pt-5"
            >
                <Image src={drumTires} alt="Drum tires" class="w-full" />
                <h2 class="w-full text-start text-xl pt-5 md:text-2xl">
                    DRUM TIRES
                </h2><br />
                <p class="text-[#d9d9d9] text-sm lg:text-lg md:text-lg">
                    Forged from high-strength alloy steel and precisely machined
                    to ensure reliable support and quiet, consistent operation.
                </p>
            </div>
        </div>

        <div class="max-w-7xl mx-auto px-8 pt-8">
            <div class="space-y-5">
                <h1 class="font-bold text-xl lg:text-3xl md:text-2xl uppercase">
                    Variable-Speed Rotation Drives
                </h1>
                <h2 class="font-bold uppercase text-md lg:text-xl md:text-xl">
                    For Drum Rotation Systems for High-RAP Incorporation
                </h2>
            </div>
            <div class="space-y-5 pt-5">
                <p class="font-normal text-sm lg:text-base md:text-base">
                    Our latest innovation for high-RAP incorporation is the use
                    of Variable-Speed Rotation Drives for Drum Rotation Systems.
                    According to our investigation and multiple field studies,
                    RAP quality is directly affected by its heating exposure
                    time inside the drum, which allows the RAP binder to fully
                    blend and incorporate with the virgin aggregates.
                </p>
                <p class="font-bold">
                    This exposure time must be adjusted according to the RAP
                    percentage in the mix.
                </p>
            </div>
        </div>

        <div class="w-full bg-gradient-to-b from-[#2b2b2b] to-[#727272] py-16">
            <div
                class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center"
            >
                <div class="w-full flex justify-center items-center mx-auto">
                    <Image src={rap} alt="Rap System" class="w-2/5" />
                </div>

                <div class="w-full text-white flex flex-col gap-4">
                    <h1
                        class="font-bold text-2xl text-center md:text-start lg:text-4xl uppercase"
                    >
                        RAP COLLAR & BIN
                    </h1>

                    <div class="flex flex-col">
                        <p
                            class="font-thin text-base text-center md:text-start lg:text-lg"
                        >
                            Our RAP system can incorporate
                        </p>
                        <h2
                            class="font-bold text-xl text-center md:text-start lg:text-3xl text-white my-1"
                        >
                            up to 50%
                        </h2>
                        <p
                            class="font-thin text-base text-center md:text-start lg:text-lg"
                        >
                            of reclaimed asphalt pavement
                        </p>
                    </div>

                    <p
                        class="font-thin text-sm text-center md:text-start lg:text-lg md:text-lg text-gray-200 mt-2 leading-relaxed"
                    >
                        The drum collar is engineered to provide the controlled
                        and efficient entry of Reclaimed Asphalt Pavement (RAP)
                        into the mixing zone. Fed directly from the RAP bin via
                        a dedicated conveyor, the material enters the drum
                        smoothly and uniformly.
                    </p>
                    <div class="mx-auto ">
                        <a
                            href="/RapRecycled"
                            class="text-[#14427c] text-center mb-5 mt-5 text-xs md:text-sm font-normal border-2 border-white rounded-full py-2 px-6 transition-all duration-300 ease-out transform hover:scale-110 hover:shadow-lg bg-white hover:bg-transparent hover:text-white"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full bg-[#727272] flex justify-center">
            <button
                class="text-blueMain px-4 py-2 rounded-2xl text-6xl"
                onclick="toggleDropdown()"
                id="dropdown-button"
                aria-label="See more information about the RAP Collar & BIN"
            >
                <svg
                    width="84px"
                    height="84px"
                    stroke-width="2"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    color="#ffffff"
                    id="dropdown-arrow"
                >
                    <path
                        d="M6 9L12 15L18 9"
                        stroke="#ffffff"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
        <div
            class="w-full transition-all duration-300 overflow-hidden bg-[#727272] px-8 lg:px-52"
            id="extradiv"
            style="max-height: 0"
        >
            <div
                class="text-white max-w-7xl mx-auto list-inside md:mb-0 md:opacity-100 my-10 text-sm lg:text-lg md:text-lg font-light"
            >
                <p>
                    Strategically positioned, the collar introduces RAP
                    downstream of the burner flame, avoiding excessive heat
                    exposure that could damage the recycled material or cause
                    blue smoke emissions.
                </p><br />
                <p>
                    Its engineered shape promotes a steady, turbulence-free
                    flow, allowing for even distribution and thorough blending
                    with superheated virgin aggregates. This results in a
                    consistent final mix with improved cohesion and overall
                    performance.
                </p><br />
                <p>
                    By maintaining temperature control and maximizing contact
                    between old and new materials, the drum collar plays a
                    critical role in preserving RAP quality, increasing recycled
                    content percentages, and supporting both cost-effective and
                    environmentally conscious hot-mix production.
                </p><br /><br />
            </div>
        </div>
    </div>
    <div
        class="w-full mx-auto px-10 text-center mb-5 bg-gradient-to-b from-[#737373] to-[#f4f5f6]"
    >
        <div class="mb-5">
            <p class="font-thin text-sm lg:text-lg">
                For very 10% of RAP, <br />
                the cost of hot-mix production
            </p>
            <h2 class="font-bold text-lg lg:text-2xl">decreases 7%</h2>
        </div>
        <div>
            <p class="font-thin text-sm md:text-lg lg:text-lg">
                By recycling up to 50% RAP with our plants,
            </p>
            <p class="font-thin text-sm md:text-lg lg:text-lg mb-5">
                you can achieve approximately 35% savings in hot-mix production
                costs.
            </p>
        </div>
    </div>

    <div class="max-w-7xl px-8 mx-auto text-2xl md:text-4xl font-bold my-10">
        <div class="w-full flex flex-col lg:flex-row justify-between">
            <div class="w-full">
                <h1 class="text-grisT">AESTHETIC SIDE PANELS</h1>
                <Separator />
            </div>
            <div class="text-start lg:text-end">
                <h2 class="text-blueMain">
                    ENHANCE YOUR COMPANY IMAGE <br /> WITH TRIASO DESIGN
                </h2>
            </div>
        </div>
        <div class="my-10 flex flex-col justify-center items-center gap-6">
            <Image src={sideP} alt="Aesthetic Side Panel" />
            <div class="max-w-[250px]">
                <LearnBtn href="/AestheticSide" />
            </div>
        </div>
    </div>
    <div class="max-w-7xl px-4 mx-auto my-10 rounded-2xl">
        <div
            class="w-full text-white flex flex-col justify-center items-center gap-6 bg-[url(/Gallery/drum-mixer.webp)] bg-cover bg-center bg-no-repeat p-10 rounded-2xl min-h-[250px] md:min-h-[600px] relative"
        >
            <h1 class="text-2xl md:text-3xl text white z-20">
                THE MOST VERSATILE AND MOBILE DRUM MIX ON THE MARKET
            </h1>
            <p class="text-lg md:text-xl text white font-thin italic z-20">
                "Triaso asphalt plants have proven to be reliable, efficient,
                and built to last. Their performance and low operating costs
                have greatly improved our productivity. We highly recommend
                Triaso to any company in the industry."
            </p>
            {
                /*<p class="text-lg md:text-xl text white font-thin italic z-20">
            — Grupo Carso
        </p>*/
            }
            <div
                class="w-full h-full bg-black/80 absolute top-0 z-10 rounded-2xl"
            >
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const dropdown = document.getElementById("extradiv");
        const arrow = document.getElementById("dropdown-arrow");
        const button = document.getElementById("dropdown-button");

        if (button) {
            button.addEventListener("click", () => {
                window.dispatchEvent(new Event("layoutChange"));
                if (!dropdown || !arrow) return;

                const isClosed =
                    dropdown.style.maxHeight === "0px" ||
                    !dropdown.style.maxHeight;

                if (isClosed) {
                    dropdown.style.maxHeight = dropdown.scrollHeight + "px";
                    arrow.style.transform = "rotate(180deg)";
                } else {
                    dropdown.style.maxHeight = "0px";
                    arrow.style.transform = "rotate(0deg)";
                }
            });
        }
    });
</script>
<style>
    #dropdown-arrow {
        transition: transform 0.3s ease;
    }
</style>
