---
import Logo from '../../assets/logos/LogoTriasoUs.svg';
import Insta from '../../assets/iconos/instaIcon.svg';
import LinkedIn from '../../assets/iconos/linkedIcon.svg';
import Face from '../../assets/iconos/facebookIcon.svg';
import YouTube from '../../assets/iconos/youIcon.svg';
import Phone from '../../assets/iconos/phone.svg';
import Mail from '../../assets/iconos/mail-2.svg';
import { Image } from "astro:assets";
---

<footer class="bg-bgFooter text-white text-sm">
    <!-- Subscribe Section -->
    <!-- <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col md:flex-row items-center justify-between border border-gray-300 p-4 bg-white text-black">
        <h2 class="text-2xl font-light mb-4 md:mb-0">Subscribe</h2>
        <div class="flex w-full md:w-auto items-center gap-2">
          <input
            type="email"
            placeholder="Email"
            class="w-full md:w-64 border-b-2 border-gray-400 focus:outline-none px-2 py-1"
          />
          <button class="bg-gray-200 hover:bg-gray-300 px-4 py-2 text-sm uppercase">Sign up</button>
        </div>
      </div>
    </div>-->
  
    <!-- Main Footer Content -->
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 md:grid-cols-3 gap-8 text-gray-300 pt-10">
      <!-- About -->
      <div>
        <h2 class="text-white font-semibold mb-2">About Triaso</h2>
        <hr class="border-blueMain w-12 mb-4" />
        <Image src={Logo} alt="Triaso logo" class="mb-4 w-32" />
        <p>
          We are a leading company in manufacturing and engineering development...
          <a href="#" class="text-white underline hover:decoration-bgMain">Show more</a>
        </p>
      </div>
  
      <!-- Navigation -->
      <div>
        <h3 class="text-white font-semibold mb-2">Navigation</h3>
        <hr class="border-blueMain w-12 mb-4" />
        <div class="grid grid-cols-2 gap-4">
          <div>
            <ul class="space-y-2">
              <li><a href="#" class="hover:text-white">PRODUCTS ▾</a></li>
              <li><a href="#" class="hover:text-white">SERVICE ▾</a></li>
              <li><a href="#" class="hover:text-white">ABOUT ▾</a></li>
            </ul>
          </div>
          <div>
            <ul class="space-y-2">
              <li><a href="#" class="hover:text-white">EXPOS</a></li>
              <li><a href="#" class="hover:text-white">VIDEOS</a></li>
              <li><a href="#" class="hover:text-white">CONTACT</a></li>
            </ul>
          </div>
        </div>
      </div>
  
      <!-- Contact -->
      <div>
        <h3 class="text-white font-semibold mb-2">Contact</h3>
        <hr class="border-blue-500 w-12 mb-4" />
        <div class="space-y-4">
          <div class="flex items-center gap-2">
            <Image src={Phone} alt="">
            <input
              aria-label="Phone number"
              type="text"
              value="(248)-613-4885"
              readonly
              class="bg-transparent border border-gray-600 px-3 py-1 w-full"
            />
          </div>
          <div class="flex items-center gap-2">
            <Image src={Mail} alt="">
            <input
            aria-label="Email address"
              type="text"
              value="sales@triasous.com"
              readonly
              class="bg-transparent border border-gray-600 px-3 py-1 w-full"
            />
          </div>
          <div class="flex items-center gap-2">
            <Image src={Insta} alt="">
            <Image src={LinkedIn} alt="">
            <Image src={Face} alt="">
            <Image src={YouTube} alt="">
            
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="border-t border-gray-700 mt-10 pt-6 pb-4 text-center text-gray-400 text-sm">
      <div class="flex flex-col md:flex-row items-center justify-between max-w-6xl mx-auto px-4">
        <p>Copyright © 2025 Triaso – All rights reserved</p>
      </div>
    </div>
  </footer>
  