---
import { Image } from "astro:assets";
import img2 from "../../assets/images/ColdMix/pugmill2.webp";
import img3 from "../../assets/images/ColdMix/pugmill3.webp";
import GallerySlider from "../unitComponents/GallerySlider";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import AcordeonItem from "../unitComponents/AcordeonItem";
import binUnit1 from "../../assets/images/BinUnits/binUnit1.webp";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import CMHigh from "../../assets/images/ColdMix/CMHigh.webp";
import PlaMFDscC1 from "../../assets/images/ColdMix/PlaMFDscC1.webp";

import g1 from "../../assets/images/ColdMix/GallerySlider/CMG1.webp";
import g2 from "../../assets/images/ColdMix/GallerySlider/CMG2.webp";
import g3 from "../../assets/images/ColdMix/GallerySlider/CMG3.webp";
import g4 from "../../assets/images/ColdMix/GallerySlider/CMG4.webp";
import g5 from "../../assets/images/ColdMix/GallerySlider/CMG5.webp";
import g6 from "../../assets/images/ColdMix/GallerySlider/CMG6.webp";
import g7 from "../../assets/images/ColdMix/GallerySlider/CMG7.webp";
import g8 from "../../assets/images/ColdMix/GallerySlider/CMG8.webp";
import SmartVideo from "../unitComponents/SmartVideo";

const binSlides = [
  {
    image: g1.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g2.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g3.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g4.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g5.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g6.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g7.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g8.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
];
---

<div
  class="w-full font-bold flex flex-col justify-center items-center mt-[20vh]"
>
  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
      <p class="text-sm md:text-lg">
        Our cold mix asphalt plants offer a wide range of optional features as
        flow detectors for precise monitoring, and vibrators to ensure smooth
        material flow. Customizable, they adapt to diverse material handling
        requirements, delivering efficiency and reliability in any project.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">24/7 customer service</h1>
      <div class="text-sm lg:text-lg md:text-lg">
        <p>
          Our team is available around the clock, ready to assist you at any
          time, even on weekends and holidays.
        </p>
      </div>
    </div>
  </TwoColumnSection>
  <div
    class="max-w-[2400px] grid grid-cols-1 md:grid-cols-5 gap-10 items-start justify-center"
  >
    <div class="col-span-2 flex justify-start md:justify-center">
      <Image
        src={binUnit1}
        alt="Precision Dosing Systems in Cold Mix Asphalt Plants"
        class="w-3/4 md:w-full"
      />
    </div>
    <div
      class="col-span-3 flex flex-col items-start h-full justify-center lg:pr-52 pr-8 md:pl-0 pl-8"
    >
      <div class="w-full flex flex-col gap-3 md:gap-6 pr-5 md:pr-10">
        <AcordeonItem
          client:only
          title="High-Precision Sensors"
          content="The system can be equipped with optional sensors that monitor material levels in real time, allowing for precise control of dosing quantities and preventing overflows or shortages."
        />
        <AcordeonItem
          client:only
          title="Adjustable Flow Rates"
          content="The system allows operators to modify the flow rate, accommodating a wide range of materials, from fine aggregates to larger-sized rocks or sand."
        />
        <AcordeonItem
          client:only
          title="Consistent Material Distribution"
          content="Ensures uniform dosing to maintain a balanced mixture in downstream operations, such as mixing or crushing processes."
        />
        <AcordeonItem
          client:only
          title="Automated Controls"
          content="Equipped with programmable logic controllers (PLCs) and our newest control system, Triaso 8.0, the system can be fully automated to deliver consistent and repeatable performance across different projects."
        />
        <AcordeonItem
          client:only
          title="Anti-Clogging Mechanism"
          content="Specially designed chutes and gates minimize the risk of blockages, ensuring a smooth and uninterrupted material flow."
        />
        <AcordeonItem
          client:only
          title="Energy-Efficient Operation"
          content="Engineered to optimize power usage, reducing operational costs while maintaining high performance."
        />
      </div><br />
      <p class="text-base md:text-lg font-thin text-grisT text-justify">
        These features make our dosing systems an essential component for
        industries requiring precise and efficient material handling.
      </p>
    </div>
  </div>
  <div class="w-full md:w-3/4 max-w-7xl mx-auto px-8 py-10">
    <SmartVideo
      client:visible
      src="/Videos/Webm/PGMC.webm"
      poster="/Gallery/customdes.webp"
      isLoop={false}
      autoplayOnMobile={false}
    />
  </div>
  <div
    class="w-full flex flex-col justify-center items-center gap-10 max-w-7xl mx-auto px-8 py-10"
  >
    <h1 class="text-blueMain text-xl md:text-2xl">
      Discover the Magic Behind our Pugmill
    </h1>
    <p class="text-sm lg:text-lg md:text-lg text-grisP">
      The pugmill is a crucial component in cold mix plants, designed to
      effectively blend a variety of materials, including aggregates and asphalt
      emulsion into a uniform mix. Its heavy-duty construction ensures smooth
      operation and reliable performance over time.
    </p>
    <p class="text-sm lg:text-lg md:text-lg text-grisP">
      The pugmill’s mixing process allows precise homogenization of the
      aggregates, making it ideal for a wide range of applications that require
      high-quality cold mix. With simple maintenance and an easy-to-operate
      design, our pugmill delivers a long and cost-effective service life, even
      in demanding work environments. This is not just a promise—we back it with
      a two-year warranty, the highest in the market.
    </p>
  </div>
  <div class="w-full flex flex-col justify-center items-center bg-grisSubP">
    <div
      class="max-w-7xl grid grid-cols-1 md:grid-cols-2 p-6 justify-center items-center gap-3 md:gap-10 bg-grisSubP px-8"
    >
      <div>
        <Image src={img2} alt="Mixing paddles" />
      </div>
      <div>
        <h2 class="text-lg md:text-2xl text-blueMain">The mixing paddles</h2>
        <br />
        <p class="text-grisT text-sm lg:text-lg md:text-lg">
          The mixing paddles inside the pugmill are essential for achieving a
          uniform, high-quality asphalt mix. Strategically arranged along twin
          synchronized shafts driven by a gear system, they ensure thorough
          blending of all components, preventing material build-up and providing
          even distribution of asphalt emulsion.<br /><br />

          Made from wear-resistant materials such as Hardox steel or cast iron,
          the paddles are fully interchangeable and designed to endure heavy use
          and abrasive aggregates without loss of efficiency. During operation,
          a protective internal layer forms naturally, reducing direct wear on
          structural surfaces and significantly extending the equipment’s
          service life.<br /><br />

          Easy to maintain and built for durability, the pugmill delivers
          reliable mixing performance even under the most demanding conditions.
        </p>
      </div>
    </div>
  </div>
  <div
    class="w-full lg:w-8/12 flex flex-col justify-center items-center gap-10 max-w-7xl mx-auto px-8"
  >
    <div class="w-full flex justify-center">
      <Image
        src={img3}
        alt="Inside of a pugmill"
        class={"w-3/4 h-auto object-contain"}
      />
    </div>
    <p class="text-grisT text-sm lg:text-lg md:text-lg">
      The pugmill features twin synchronized shafts driven by a gear system for
      balanced and efficient mixing. Its cast-iron mixer paddles are fully
      interchangeable and built for durability. During operation, a protective
      internal layer forms naturally, reducing direct wear on the structure and
      extending the equipment’s service life.
    </p>
  </div>

  <div
    class="max-w-[2400px] grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-4 mt-10 mb-5 h-full"
  >
    <div class="flex items-center justify-start col-span-1">
      <Image
        src={PlaMFDscC1}
        alt="Pugmill on top of the system"
        class="w-[70%]"
      />
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 col-span-2 justify-center items-start gap-10 md:gap-20 px-8 bg-bgBeige p-6 rounded-l-2xl"
    >
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h2>It can hold up</h2>
        <h1 class="text-black text-lg md:text-2xl">0.75 cubic meters</h1>
        <h2>of material.</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Automatic opening</h1>
        <h2>controlled by time regulates the opening</h2>
        <h1 class="text-black text-lg md:text-2xl">via a timer.</h1>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Integrated control</h1>
        <h2>in the console centralizes system management.</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Pneumatic opening</h1>
        <h2>with a</h2>
        <h1 class="text-black text-lg md:text-2xl">double-acting jack</h1>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">
          Automatic or manual opening
        </h1>
        <h2>allows operation either manually or automatically</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">
          7.5 Hp air <br />compressor with a 293-liter air tank
        </h1>
        <h2>supplies air for pneumatic operation</h2>
      </div>
    </div>
  </div>
  <div>
    <div
      class="w-full bg-blueMain px-4 lg:px-32 grid grid-cols-1 md:grid-cols-2 py-10 mb-5 items-center gap-6"
    >
      <div class="w-full flex justify-center">
        <Image
          src={CMHigh}
          alt="Bin units connected to trucks"
          class="w-full md:w-4/5 lg:w-3/5 rounded-2xl"
        />
      </div>
      <div class="w-full">
        <h1 class="text-2xl md:text-4xl text-white">
          High portable equipment
        </h1><br />
        <p class="text-base md:text-lg text-grisSubP">
          We understand the importance of getting your equipment up and running
          as quickly as possible. Our Triaso equipment is designed for fast
          installation and quick startup, minimizing downtime and allowing
          production to begin as soon as possible.
        </p>
      </div>
    </div>
    <div></div>
    <div class="px-4">
      <GallerySlider slides={binSlides} visibleThumbs={6} client:only />
    </div>
  </div>
</div>
