---
import { Image } from "astro:assets";
import img2 from "../../assets/images/ColdMix/pugmill2.webp";
import img3 from "../../assets/images/ColdMix/pugmill3.webp";
import poster1 from "../../../public/Videos/Webm/Posters/9.webp";
import SliderCold from "./SliderCold.astro";
import GallerySlider from "../unitComponents/GallerySlider";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import AcordeonItem from "../unitComponents/AcordeonItem";
import binUnit1 from "../../assets/images/BinUnits/binUnit1.webp";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import CMHigh from "../../assets/images/ColdMix/CMHigh.webp";
import PlaMFDscC1 from "../../assets/images/ColdMix/PlaMFDscC1.webp";
import g1 from "../../assets/images/ColdMix/GallerySlider/CMG1.webp";
import g2 from "../../assets/images/ColdMix/GallerySlider/CMG2.webp";
import g3 from "../../assets/images/ColdMix/GallerySlider/CMG3.webp";
import g4 from "../../assets/images/ColdMix/GallerySlider/CMG4.webp";
import g5 from "../../assets/images/ColdMix/GallerySlider/CMG5.webp";
import g6 from "../../assets/images/ColdMix/GallerySlider/CMG6.webp";
import g7 from "../../assets/images/ColdMix/GallerySlider/CMG7.webp";
import g8 from "../../assets/images/ColdMix/GallerySlider/CMG8.webp";
import SmartVideo from "../unitComponents/SmartVideo";
import Whatsbtn from "../unitComponents/Whatsbtn.astro";
import DropdownComponent from "../unitComponents/DropdownComponent.astro";
import Card from "../unitComponents/Card.astro";

const binSlides = [
  {
    image: g1.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g2.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g3.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g4.src,
    caption:
      "Cold mixing plant, stabilizer, up to 200 Tmph, with floor discharge",
  },
  {
    image: g5.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g6.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g7.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
  {
    image: g8.src,
    caption:
      "Cold mixing plant, stabilizer, up to 300 Tmph, with elevated discharge",
  },
];
---

<!-- Sección sliders -->
<section>
  <SliderCold />
</section>

<div class="w-full font-bold flex flex-col justify-center items-center">
  <div
    class="max-w-[2400px] grid grid-cols-1 md:grid-cols-5 gap-10 items-start justify-center"
  >
    <div class="col-span-2 flex justify-start md:justify-center">
      <Image
        src={binUnit1}
        alt="Precision Dosing Systems in Cold Mix Asphalt Plants"
        class="w-3/4 md:w-full"
      />
    </div>
    <div
      class="col-span-3 flex flex-col items-start h-full justify-center lg:pr-52 pr-8 md:pl-0 pl-8"
    >
      <div class="w-full flex flex-col gap-3 md:gap-6 pr-5 md:pr-10">
        <AcordeonItem
          client:only
          title="Sensores de alta precisión"
          content="El sistema puede equiparse con sensores opcionales que monitorean los niveles de material en tiempo real, permitiendo un control preciso de la dosificación y evitando derrames o faltantes."
        />
        <AcordeonItem
          client:only
          title="Dosificación ajustable"
          content="Los operadores pueden modificar la dosificación para adaptarse a una amplia gama de materiales, desde agregados finos hasta rocas de mayor tamaño o arena."
        />
        <AcordeonItem
          client:only
          title="Distribución constante del material"
          content="Garantiza una dosificación pareja para mantener una mezcla equilibrada en procesos posteriores, como mezclado o trituración."
        />
        <AcordeonItem
          client:only
          title="Controles automatizados"
          content="Equipado con controladores lógicos programables (PLC) y con nuestra versión más reciente, Triaso 8.0, el sistema puede automatizarse completamente para ofrecer un desempeño constante y repetible en distintos proyectos."
        />
        <AcordeonItem
          client:only
          title="Mecanismo anti-obstrucción"
          content="Los chutes y compuertas están diseñados especialmente para minimizan el riesgo de bloqueos, asegurando un flujo de material continuo y sin interrupciones."
        />
        <AcordeonItem
          client:only
          title="Operación de bajo consumo energético"
          content="Diseñado para optimizar el consumo de energía, reduciendo los costos operativos sin comprometer el rendimiento."
        />
      </div><br />
      <p class="text-base md:text-lg font-thin text-grisT text-justify">
        Estas características convierten nuestros sistemas de dosificación en un
        componente esencial para proyectos que requieren un manejo de materiales
        preciso y eficiente.
      </p>
    </div>
  </div>

  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">
        Configuraciones para cualquier poyecto y necesidas
      </h1>
      <p class="text-sm md:text-lg">
        Nuestras plantas de mezcla en frío pueden equiparse con detectores de
        flujo, vibradores, divisores de tolvas, indicadores de nivel,
        extensiones y rejillas grizzly. Estas opciones permiten adaptar la
        planta a distintos requisitos de manejo de materiales, garantizando
        eficiencia y confiabilidad en cualquier proyecto.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center lg:pl-3 md:pl-5">
      <h1 class="text-xl md:text-2xl">Servicio al cliente 24/7</h1>
      <div class="text-sm lg:text-lg md:text-lg">
        <p>
          Sabemos que la operación de muchos equipos depende de la confiabilidad
          de su planta de asfalto, nuestro equipo está disponible las 24 horas,
          listo para ayudarte en cualquier momento, incluso fines de semana y
          días festivos.
        </p>
      </div>

      <div>
        <Whatsbtn />
      </div>
    </div>
  </TwoColumnSection>

  <div class="w-full md:w-3/4 max-w-7xl mx-auto px-8 py-10">
    <SmartVideo
      client:visible
      src="/Videos/Webm/PGMC.webm"
      poster={img2.src}
      isLoop={false}
      autoplayOnMobile={false}
    />
  </div>

  <div>
    <div>
      <DropdownComponent
        title="Descubra la ingeniería detrás de nuestro pugmill"
      >
        <div class="flex flex-col space-y-5">
          <p>
            El pugmill es un componente fundamental en las plantas de mezcla en
            frío, diseñado eficientemente para hacer una variedad de
            mezclas—incluyendo agregados y emulsión asfáltica. Su fabricación
            extra-reforzada, de trabajo pesado garantiza una operación estable y
            un rendimiento confiable con el paso del tiempo.
          </p>
          <p>
            El proceso de mezclado del pugmill permite una homogeneización
            precisa de los agregados, siendo perfecto para una amplia gama de
            aplicaciones que requieren una mezcla en frío de alta calidad. Con
            un mantenimiento sencillo y un diseño fácil de operar, nuestro
            pugmill ofrece una vida prolongada y económica incluso en entornos
            de trabajo exigentes, no es solo una promesa, lo respaldamos con dos
            años de garantía, la más alta en el mercado.
          </p>
        </div>
      </DropdownComponent>
    </div>
  </div>

  <!-- cards -->
  <div class="max-w-7xl mx-auto px-8">
    <div
      class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-between items-stretch font-bold mt-6"
    >
      <Card>
        <div>
          <Image
            src="https://placehold.co/600x400/png"
            alt="Cold mix plant with a plugmill mixer"
            width={600}
            height={400}
          />
        </div>
        <details class="group">
          <summary
            class="flex flex-row items-center justify-between cursor-pointer list-none"
          >
            <h2 class="text-lg md:text-xl">Paletas mezcladoras</h2>
            <svg
              class="group-open:hidden transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>add_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(0.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="add_circle_fill"
                      transform="translate(0.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >

            <svg
              class="hidden group-open:block transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>minus_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(-864.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="minus_circle_fill"
                      transform="translate(864.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
          </summary>
          <div class="space-y-5">
            <p
              class="text-grisP text-sm font-medium lg:font-semibold lg:text-base md:text-base"
            >
              Las paletas de mezclado del pugmill aseguran una mezcla asfáltica
              uniforme y de alta calidad. Sus paletas de mezcla de hierro
              fundido son totalmente intercambiables y están diseñadas para una
              larga durabilidad.
            </p>
            <p
              class="text-grisP text-sm font-medium lg:font-semibold lg:text-base md:text-base"
            >
              Fabricadas en materiales de alta resistencia al desgaste, como
              acero Hardox o hierro fundido, son totalmente intercambiables y
              aptas para trabajo pesado con agregados abrasivos. Durante la
              operación se forma una capa protectora interna que reduce el
              desgaste y prolonga la vida útil del equipo.
            </p>
          </div>
        </details>
      </Card>
      <Card>
        <div>
          <Image
            src="https://placehold.co/600x400/png"
            alt="Cold mix plant with a plugmill mixer"
            width={600}
            height={400}
          />
        </div>
        <details class="group">
          <summary
            class="flex flex-row items-center justify-between cursor-pointer list-none"
          >
            <h2 class="text-lg md:text-xl">Ejes sincronizados</h2>
            <svg
              class="group-open:hidden transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>add_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(0.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="add_circle_fill"
                      transform="translate(0.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >

            <svg
              class="hidden group-open:block transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>minus_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(-864.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="minus_circle_fill"
                      transform="translate(864.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
          </summary>
          <div>
            <p
              class="text-grisP text-sm font-medium lg:font-semibold lg:text-base md:text-base"
            >
              El pugmill cuenta con dos ejes sincronizados accionados por un
              sistema de engranes para lograr un mezclado equilibrado y
              eficiente. Lo que garantiza la correcta incorporación de los
              materiales y una distribución homogénea de la emulsión asfáltica,
              evitando acumulaciones.
            </p>
          </div>
        </details>
      </Card>
      <Card>
        <div>
          <Image
            src="https://placehold.co/600x400/png"
            alt="Cold mix plant with a plugmill mixer"
            width={600}
            height={400}
          />
        </div>
        <details class="group">
          <summary
            class="flex flex-row items-center justify-between cursor-pointer list-none"
          >
            <h2 class="text-lg md:text-xl">Mantenimiento sencillo</h2>
            <svg
              class="group-open:hidden transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>add_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(0.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="add_circle_fill"
                      transform="translate(0.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >

            <svg
              class="hidden group-open:block transition h-[40px] w-[40px] lg:h-[64px] lg:w-[64px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>minus_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(-864.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="minus_circle_fill"
                      transform="translate(864.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                        id="形状"
                        fill="#14437d"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
          </summary>
          <div>
            <p
              class="text-grisP text-sm font-medium lg:font-semibold lg:text-base md:text-base"
            >
              Con un mantenimiento sencillo y una construcción robusta, el
              pugmill ofrece un desempeño de mezclado confiable incluso en
              condiciones de trabajo exigentes.
            </p>
          </div>
        </details>
      </Card>
    </div>
  </div>

  <div
    class="max-w-[2400px] grid grid-cols-1 md:grid-cols-3 justify-center items-center gap-4 mt-10 mb-5 h-full"
  >
    <div class="flex items-center justify-start col-span-1">
      <Image
        src={PlaMFDscC1}
        alt="Pugmill on top of the system"
        class="w-[70%]"
      />
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-3 col-span-2 justify-center items-start gap-10 md:gap-20 px-8 bg-bgBeige p-6 rounded-l-2xl"
    >
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h2>Capacidad de</h2>
        <h1 class="text-black text-lg md:text-2xl">0.75 metros cúbicos</h1>
        <h2>de material</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Apertura automática</h1>
        <h2>controlada por tiempo mediante un</h2>
        <h1 class="text-black text-lg md:text-2xl">temporizador.</h1>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Control integrado</h1>
        <h2>en la consola centraliza toda la operación del sistema.</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">Apertura neumática</h1>
        <h2>con</h2>
        <h1 class="text-black text-lg md:text-2xl">gatillo de doble efecto</h1>
        <h2>garantiza una descarga controlada y eficiente.</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">
          Apertura automatica o manual
        </h1>
        <h2>permite la operación deseada.</h2>
      </div>
      <div
        class="flex flex-col items-start justify-center text-grisT md:text-base lg:text-lg text-sm"
      >
        <h1 class="text-black text-lg md:text-2xl">
          Compresor de 7.5 <br />HP con un tanque de aire de 293 litros
        </h1>
        <h2>suministra el aire para toda la operación neumática.</h2>
      </div>
    </div>
  </div>
  <div>
    <div
      class="w-full bg-blueMain px-4 lg:px-32 grid grid-cols-1 md:grid-cols-2 py-10 mb-5 items-center gap-6"
    >
      <div class="w-full flex justify-center">
        <Image
          src={CMHigh}
          alt="Bin units connected to trucks"
          class="w-full md:w-4/5 lg:w-3/5 rounded-2xl"
        />
      </div>
      <div class="w-full">
        <h1 class="text-2xl md:text-4xl text-white">
          Equipo altamente portátil
        </h1><br />
        <p class="text-base md:text-lg text-grisSubP">
          Entendemos la importancia de poner tu equipo en operación lo antes
          posible. El equipo Triaso está diseñado para una instalación rápida y
          un arranque inmediato, reduciendo tiempos muertos y permitiendo
          iniciar producción cuanto antes.
        </p>
      </div>
    </div>
  </div>
</div>
