---
import GallerySlider from "../unitComponents/GallerySlider";
import img2 from "../../assets/images/BagHouses/bagHouses1.webp";
import img3 from "../../assets/images/BagHouses/BHProv4.webp";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import BHCustom from "./BHCustom.astro";
import BHoppers from "../../assets/images/BagHouses/BHoppers.webp";
import AcordeonItemCol from "../unitComponents/AcordeonItemCol";
import img5 from "../../assets/images/BagHouses/venturiSys.webp";
import img6 from "../../assets/images/BagHouses/ratioSys.webp";
import img7 from "../../assets/images/BagHouses/BHProv7.webp";
import img7Low from "../../assets/images/BagHouses/Low/BHProv7Low.webp";
import OSection from "../unitComponents/OSection.astro";
import bannerNew from "../../assets/images/BagHouses/bannerImage.webp";
import bannerMobile from "../../assets/images/BagHouses/Low/bannerImageLow.webp";
import damperImg from "../../assets/images/BagHouses/damper.webp";
import finesReturn from "../../assets/images/BagHouses/finesReturn.webp";
import boquillasVL from "../../assets/images/BagHouses/Low/BoquillasVLLow.webp";
import bgBack from "../../assets/images/BagHouses/test.webp";
import { Image } from "astro:assets";
import poster1 from "../../../public/Videos/Webm/Posters/3.png";
import poster2 from "../../../public/Videos/Webm/Posters/4.png";

import g1 from "../../assets/images/BagHouses/GallerySlider/BHG1.webp";
import g2 from "../../assets/images/BagHouses/GallerySlider/BHG2.webp";
import g3 from "../../assets/images/BagHouses/GallerySlider/BHG4.webp";
import g4 from "../../assets/images/BagHouses/GallerySlider/BHG4.webp";
import SmartVideo from "../unitComponents/SmartVideo";

const tanksSlides = [
  {
    image: g1.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
  },
  {
    image: g2.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
  },
  {
    image: g3.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Reverse",
  },
  {
    image: g4.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Reverse Air",
  },
];
---

<div class="w-full flex flex-col font-bold md:mt-20">
  <div class="w-full flex flex-col items-center justify-center font-bold mt-10">
    <div class="max-w-7xl px-8 mb-20 mx-auto">
      <h1 class="text-redBg text-xl md:text-3xl text-center">
        Your best business begins with us
      </h1>
    </div>
    <div class="max-w-7xl px-8 mx-auto flex justify-center">
      <Image
        src={img2}
        alt="Baghouse"
        class="hero-img md:w-4/5 lg:w-4/6 rounded-lg"
        fetchpriority="high"
        loading="lazy"
      />
    </div>
    <div
      class="max-w-7xl px-8 mx-auto flex flex-col md:flex-row items-center gap-6"
    >
      <div class="w-full mt-10">
        <h2 class="text-black text-lg md:text-xl">
          Continuous cleaning system
        </h2>
        <p class="text-grisT text-sm lg:text-lg md:text-lg text-justify">
          A continuous cleaning system that keeps the filter bags in operation
          at all times. Bursts of compressed air are released through a super
          sonic nozzle, creating a pressure wave that rapidly expands each bag
          and dislodges the dust cake from its surface. The released particles
          fall into the hopper below, ensuring uninterrupted filtration and
          optimal bag performance.
        </p>
      </div>

      <div class="w-full hidden lg:flex md:w-auto">
        <Image
          src={img7}
          alt="Baghouse cleaning system"
          class="side-img rounded-2xl will-change-transform w-4/5"
        />
      </div>
    </div>

    <div
      class="max-w-7xl hidden px-8 mx-auto lg:flex justify-center lg:justify-start"
    >
      <Image
        src={img3}
        alt="Baghouse"
        class="fade-img rounded-lg lg:w-3/5 will-change-transform"
      />
    </div>

    <div class="relative flex flex-row px-8 gap-2 lg:hidden">
      <Image
        src={img7Low}
        alt="Baghouse cleaning system"
        class="rounded-2xl w-1/2 object-contain"
      />

      <Image
        src={img3}
        alt="Baghouse"
        class="rounded-lg w-1/2 object-contain"
      />
    </div>
  </div>

  <div class="mt-10 w-full lg:mt-0 md:mt-0">
    <OSection />
  </div>

  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">Options to Meet Any Need</h1>
      <p class="text-sm lg:text-lg md:text-lg text-[#d9d9d9]">
        Manufacturing highly portable self-contained, and integrated models,
        Triaso® baghouses operate at an air-to-cloth ratio as high as 8:1.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">
        Different Types of Filter Bags and Their Specific Applications:
      </h1>
      <ul class="text-sm lg:text-lg md:text-lg list-disc pl-5 text-[#d9d9d9]">
        <li>Polyester</li>
        <li>Nomex</li>
        <li>Polyamide (P84)</li>
      </ul>
    </div>
  </TwoColumnSection>
  <div class="">
    <Image
      src={bannerNew}
      alt="Bag house with a road in the background and workers next to it"
      class="hidden lg:block md:block"
    />
    <Image
      src={bannerMobile}
      alt="Bag house with a road in the background and workers next to it"
      class="w-full lg:hidden md:hidden"
    />
  </div>
  <div class="w-full flex justify-center px-8 text-center">
    <h1 class="text-blueMain text-2xl md:text-3xl">
      Mechanism of baghouses available in pulse jet and reverse jet
    </h1>
  </div>

  <div class="w-full py-10">
    <div class="relative max-w-7xl mx-auto px-8 py-24 overflow-hidden">
      <div class="absolute inset-0 flex justify-center items-center">
        <Image
          src={bgBack}
          alt="Baghouse"
          class="w-1/3 opacity-20 pointer-events-none select-none"
        />
      </div>
      <div
        class="relative z-10 grid grid-cols-1 md:grid-cols-2 gap-16 text-center"
      >
        <div>
          <h2 class="text-xl md:text-2xl font-semibold mb-4">Reverse Air</h2>
          <p class="text-grisT font-thin text-sm lg:text-lg md:text-lg">
            A cleaning system that directs low-pressure air in the opposite
            direction to remove dust from the filter bags, typically used in
            larger baghouses or high-dust applications.
          </p>
        </div>

        <div>
          <h2 class="text-xl md:text-2xl font-semibold mb-4">Pulse Jet</h2>
          <p class="text-grisT font-thin text-sm lg:text-lg md:text-lg">
            A cleaning system that uses short bursts of compressed air to
            dislodge dust and debris from the filter bags, maintaining
            continuous airflow and filtration efficiency.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full bg-grisT text-white flex flex-col gap-6">
    <div
      class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 items-center py-6"
    >
      <div>
        <h2 class="text-xl md:text-2xl">Triaso Supersonic Nozzle</h2><br />
        <p class="text-sm lg:text-lg md:text-lg font-thin">
          Our supersonic nozzles are 3D printed in-house using carbon alloy
          materials for exceptional resistance to impacts, high temperatures,
          and vibrations. Ensuring highly efficient fine particle collection in
          the baghouse.
        </p>
      </div>
      <div class="w-full flex justify-center items-center">
        <Image
          src={boquillasVL}
          alt="Triaso Supersonic Nozzle"
          class="full rounded-xl"
        />
      </div>
    </div>

    <div class="w-full">
      <div
        class="max-w-7xl px-8 mx-auto grid grid-cols-1 md:grid-cols-2 items-start rounded-lg mb-5 w-full md:w-full gap-10"
      >
        <AcordeonItemCol
          title="Typical Venturi System"
          bgColor="bg-bgBeige"
          image={img5.src}
          imageClassName="pb-[50px]"
          client:visible
        >
          <div class="w-full py-10 text-sm md:text-base text-grisT">
            <p>
              In venturi-based filtration systems, the airflow design introduces
              multiple inefficiencies that affect both dust collection and
              system durability. The high-speed airflow exiting the venturi
              creates a low-pressure zone at the upper section of the filter
              bag, pulling dust toward that area. This causes uneven
              accumulation and reduces filtration capacity. Over time, fine
              particles become embedded deep within the fabric, making cleaning
              less effective.
            </p><br />
            <p>
              Another issue is the placement of the cleaning air pulse near the
              bag opening. This location limits its ability to draw in
              additional air that could improve dust removal. Meanwhile, the
              narrow venturi forces filtered air to accelerate rapidly into the
              plenum, creating upward airflow that resists the cleaning pulse.
              As a result, stronger air blasts are needed, increasing energy use
              and putting mechanical stress on the bags—leading to faster wear
              and reduced lifespan.
            </p>
          </div>
        </AcordeonItemCol>
        <AcordeonItemCol
          title="Triaso High Ratio System"
          bgColor="bg-bgBeige"
          image={img6.src}
          client:visible
        >
          <div class="w-full py-10 text-sm md:text-base text-grisT">
            <p>
              The new series baghouse improves dust removal by completely
              redesigning the airflow process. Instead of relying on a
              traditional venturi system, it uses a supersonic
              converging-diverging nozzle to generate the cleaning air jet. This
              shift in design allows for the induction of more secondary air,
              enhancing the cleaning efficiency. The removal of the venturi also
              reduces the throat velocity at the bag’s inlet, preventing the
              negative pressure that typically leads to dust buildup at the top
              of the filter bag.
            </p><br />
            <p>
              By fully utlization of the bag mouth, the cleaning air jet expands
              evenly, minimizing the likelihood of dust cake blowout. Leading to
              a more uniform bag inflation, resulting in a more effective
              cleaning cycle and reduced wear on the fabric. As a result, the
              Triaso Model only requires half the filter area compared to
              traditional venturi systems, enabling Triaso to offer high
              performance in a more compact form.
            </p>
          </div>
        </AcordeonItemCol>
      </div>
    </div>
  </div>
  <br />

  <div class="w-full px-8 text-center pt-10">
    <h2
      class="text-blueMain text-[17px] pb-5 lg:pb-0 md:pb-0 lg:text-3xl md:text-3xl text-center"
    >
      Total and homogeneous return of fines to the asphalt mix to optimize its
      quality and pavement life.
    </h2>
  </div>

  <div class="max-w-7xl px-8 mx-auto pb-10">
    <div class="w-full flex justify-center">
      <SmartVideo
        client:visible
        src="/Videos/Webm/DMVideo.webm"
        poster={poster1.src}
        isLoop={true}
        autoplayOnMobile={false}
      />
    </div>
    <p class="text-sm pt-5 lg:pt-0 md:pt-0 lg:text-lg md:text-lg font-thin">
      After passing through the primary dust collector, the gas stream enters
      the baghouse inlet chamber. As it slows down, it flows beneath a
      protective barrier that shields the filter bags. in the clean air plenum
      draws the gas upward through the bags, causing fine particles to
      accumulate on thie outer surface while the cleaned air moves into the
      plenum and exits through the exhaust stack.
    </p>
  </div>

  <div class="w-full flex flex-col justify-start max-w-7xl px-8 mx-auto py-10">
    <h1 class="text-xl md:text-2xl">Triaso Exhaust System</h1><br />
    <h2 class="text-lg md:text-xl text-redBg">
      Gas extractor with curved blade fan, more efficient and quieter.
    </h2>
  </div>

  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 md:gap-10 max-w-7xl px-8 mx-auto py-5"
  >
    <div class="w-full flex justify-center">
      <SmartVideo
        client:visible
        src="/Videos/Webm/BHVideo.webm"
        poster={poster2.src}
        isLoop={true}
        autoplayOnMobile={false}
        desktopWidth="80%"
      />
    </div>
    <div
      class="w-full rounded-2xl py-4 text-justify text-sm lg:text-lg md:text-lg text-grisT flex flex-col justify-center"
    >
      <p>
        The Triaso® Extractor is designed to effectively manage airflow and
        ensure optimal gas filtration in the asphalt plant. With its curved
        blade fan, the extractor pulls gases through the system while
        maintaining efficient air circulation.
      </p><br />
      <p>
        It operates using centrifugal force to separate dust from exhaust gases.
        As the gas enters, it spirals along the inner walls, where heavier
        particles are pushed outward. Approximately 70% of the total dust load
        falls to the bottom for collection, reducing the burden on the baghouse
        filters, improving efficiency, and extending their service life.
      </p>
    </div>
  </div>

  <div class="w-full max-w-7xl mx-auto px-8 pb-5">
    <details class="group w-full">
      <summary
        class="flex flex-col cursor-pointer w-full list-none justify-end items-end"
      >
        <div class="w-full flex items-end justify-end">
          <svg
            class="group-open:hidden transition h-[50px] w-[50px]"
            viewBox="0 0 24 24"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>add_circle_fill</title>
              <g
                id="页面-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="System"
                  transform="translate(0.000000, -48.000000)"
                  fill-rule="nonzero"
                >
                  <g
                    id="add_circle_fill"
                    transform="translate(0.000000, 48.000000)"
                  >
                    <path
                      d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                      id="MingCute"
                      fill-rule="nonzero"
                    >
                    </path>
                    <path
                      d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                      id="形状"
                      fill="#14437d"
                    >
                    </path>
                  </g>
                </g>
              </g>
            </g></svg
          >
        </div>

        <div>
          <svg
            class="hidden group-open:block transition h-[50px] w-[50px]"
            viewBox="0 0 24 24"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            fill="#000000"
            ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
              <title>minus_circle_fill</title>
              <g
                id="页面-1"
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
              >
                <g
                  id="System"
                  transform="translate(-864.000000, -48.000000)"
                  fill-rule="nonzero"
                >
                  <g
                    id="minus_circle_fill"
                    transform="translate(864.000000, 48.000000)"
                  >
                    <path
                      d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                      id="MingCute"
                      fill-rule="nonzero"
                    >
                    </path>
                    <path
                      d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                      id="形状"
                      fill="#14437d"
                    >
                    </path>
                  </g>
                </g>
              </g>
            </g></svg
          >
        </div>
      </summary>

      <p class="font-bold text-sm lg:text-lg">
        The finer dust particles are directed into the baghouse through a
        strategically placed high side inlet. This ensures horizontal and
        downward airflow, preventing fine dust from being re-entrained into the
        system. A knockout chamber decelerates airflow, allowing more material
        to drop into the hopper, while internal baffles ensure even air
        distribution and protect the bags from abrasion.
      </p>
      <p class="font-thin text-sm lg:text-lg md:text-lg">
        This design optimizes air quality, enhances filtration efficiency, and
        minimizes maintenance requirements, ensuring a more effective and
        reliable operation.
      </p>
    </details>
  </div>

  <div class="w-full bg-blueMain">
    <div
      class="max-w-7xl px-8 mx-auto grid grid-cols-1 items-center md:grid-cols-2 gap-10 md:gap-20 bg-blueMain py-10"
    >
      <div class="flex justify-center items-center">
        <Image
          src={damperImg}
          alt="Damper"
          class="w-[90%] aspect-square rounded-md"
        />
      </div>
      <div class="flex flex-col space-y-10">
        <h2 class="text-white text-2xl">Damper</h2>
        <p class="text-[#d9d9d9] text-sm lg:text-lg md:text-lg">
          The damper consists of a series of bars that, when fully closed, form
          a shutter acting as a barrier for the exhaust gases from the baghouse.
        </p>
        <p class="text-[#d9d9d9] text-sm lg:text-lg md:text-lg">
          The damper is electrically operated to regulate the flow of dust-free
          exhaust gases from the asphalt plant. It can be controlled manually
          from the control cabin or automatically by pressure-differential
          sensors inside the baghouse, maintaining the system within a safe
          operating pressure range.
        </p>
      </div>
    </div>
    <div class="w-full relative overflow-hidden bg-blueMain">
      <section
        class="w-full bg-bgBeige transform skew-y-3 py-32 origin-left z-10 relative"
      >
        <div class="transform -skew-y-3 relative max-w-7xl px-8 mx-auto">
          <div class="mb-8">
            <h2 class="text-xl md:text-2xl font-bold text-black">
              Baghouses Fines Hoppers
            </h2>
          </div>

          <div
            class="w-full hidden lg:grid md:grid grid-cols-1 lg:grid-cols-2 gap-12 items-start"
          >
            <div class="w-full flex flex-col justify-center">
              <div>
                <Image
                  src={BHoppers}
                  alt="Baghouse Fines Hoppers"
                  class="rounded-2xl w-full md:w-4/5 object-cover z-20 relative mr-0 lg:mr-32 md:mr-32"
                />
              </div>
              <details class="group">
                <summary
                  class="flex items-end justify-end cursor-pointer list-none"
                >
                  <svg
                    class="group-open:hidden transition h-[50px] w-[50px]"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <title>add_circle_fill</title>
                      <g
                        id="页面-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="System"
                          transform="translate(0.000000, -48.000000)"
                          fill-rule="nonzero"
                        >
                          <g
                            id="add_circle_fill"
                            transform="translate(0.000000, 48.000000)"
                          >
                            <path
                              d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                              id="MingCute"
                              fill-rule="nonzero"
                            >
                            </path>
                            <path
                              d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                              id="形状"
                              fill="#14437d"
                            >
                            </path>
                          </g>
                        </g>
                      </g>
                    </g></svg
                  >
                </summary>

                <div>
                  <p class="text-sm text-[#393939] lg:text-lg md:text-lg">
                    Positioned directly below the filter system, these hoppers
                    allow for controlled collection of fines, which can then be
                    temporarily stored, discharged, or reintegrated into the
                    asphalt mix—depending on the plant’s configuration. They
                    play a crucial role in maintaining clean air emissions and
                    supporting the environmental performance of the asphalt
                    plant.
                  </p>
                </div>

                <div
                  class="flex justify-end mt-6 group-open:flex hidden"
                  onclick="this.closest('details').removeAttribute('open')"
                >
                  <svg
                    class="hidden group-open:block transition h-[50px] w-[50px]"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <title>minus_circle_fill</title>
                      <g
                        id="页面-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="System"
                          transform="translate(-864.000000, -48.000000)"
                          fill-rule="nonzero"
                        >
                          <g
                            id="minus_circle_fill"
                            transform="translate(864.000000, 48.000000)"
                          >
                            <path
                              d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                              id="MingCute"
                              fill-rule="nonzero"
                            >
                            </path>
                            <path
                              d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                              id="形状"
                              fill="#14437d"
                            >
                            </path>
                          </g>
                        </g>
                      </g>
                    </g></svg
                  >
                </div>
              </details>
            </div>

            <div class="w-full">
              <p class="text-grisT text-sm lg:text-lg md:text-lg">
                Fine dust particles enter the baghouse through a high side inlet
                designed for controlled horizontal and downward airflow. This
                configuration prevents re-entrainment of fine material. A
                knockout chamber slows the airflow, allowing heavier particles
                to settle in the hopper, while internal baffles distribute air
                evenly and protect the filter bags from abrasion.
                <br /><br />
                This design improves air quality, increases filtration efficiency,
                and reduces maintenance, ensuring reliable and consistent performance.
              </p>
            </div>
          </div>

          <div
            class="w-full grid lg:hidden md:hidden grid-cols-1 lg:grid-cols-2 gap-12 items-start"
          >
            <div class="w-full flex flex-col justify-center">
              <div>
                <Image
                  src={BHoppers}
                  alt="Baghouse Fines Hoppers"
                  class="rounded-2xl w-full md:w-4/5 object-cover z-20 relative mr-0 lg:mr-32 md:mr-32"
                />
              </div>
              <details class="group">
                <summary
                  class="flex flex-col items-end justify-end cursor-pointer list-none"
                >
                  <div class="w-full pt-10">
                    <p class="text-grisT text-sm lg:text-lg md:text-lg pb-5">
                      Fine dust particles enter the baghouse through a high side
                      inlet designed for controlled horizontal and downward
                      airflow. This configuration prevents re-entrainment of
                      fine material. A knockout chamber slows the airflow,
                      allowing heavier particles to settle in the hopper, while
                      internal baffles distribute air evenly and protect the
                      filter bags from abrasion.
                      <br /><br />
                      This design improves air quality, increases filtration efficiency,
                      and reduces maintenance, ensuring reliable and consistent performance.
                    </p>
                  </div>
                  <svg
                    class="group-open:hidden transition h-[40px] w-[40px]"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <title>add_circle_fill</title>
                      <g
                        id="页面-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="System"
                          transform="translate(0.000000, -48.000000)"
                          fill-rule="nonzero"
                        >
                          <g
                            id="add_circle_fill"
                            transform="translate(0.000000, 48.000000)"
                          >
                            <path
                              d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                              id="MingCute"
                              fill-rule="nonzero"
                            >
                            </path>
                            <path
                              d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                              id="形状"
                              fill="#14437d"
                            >
                            </path>
                          </g>
                        </g>
                      </g>
                    </g></svg
                  >
                </summary>

                <div class="pt-10">
                  <p class="text-sm text-[#393939] lg:text-lg md:text-lg">
                    Positioned directly below the filter system, these hoppers
                    allow for controlled collection of fines, which can then be
                    temporarily stored, discharged, or reintegrated into the
                    asphalt mix—depending on the plant’s configuration. They
                    play a crucial role in maintaining clean air emissions and
                    supporting the environmental performance of the asphalt
                    plant.
                  </p>
                </div>

                <div
                  class="flex justify-end mt-6 group-open:flex hidden"
                  onclick="this.closest('details').removeAttribute('open')"
                >
                  <svg
                    class="hidden group-open:block transition h-[40px] w-[40px] lg:h-16 lg:w-16"
                    viewBox="0 0 24 24"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    fill="#000000"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <title>minus_circle_fill</title>
                      <g
                        id="页面-1"
                        stroke="none"
                        stroke-width="1"
                        fill="none"
                        fill-rule="evenodd"
                      >
                        <g
                          id="System"
                          transform="translate(-864.000000, -48.000000)"
                          fill-rule="nonzero"
                        >
                          <g
                            id="minus_circle_fill"
                            transform="translate(864.000000, 48.000000)"
                          >
                            <path
                              d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                              id="MingCute"
                              fill-rule="nonzero"
                            >
                            </path>
                            <path
                              d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                              id="形状"
                              fill="#14437d"
                            >
                            </path>
                          </g>
                        </g>
                      </g>
                    </g></svg
                  >
                </div>
              </details>
            </div>
          </div>
        </div>
      </section>

      <div class="h-[3rem] lg:h-[12rem] md:h-[10rem] w-full bg-blueMain"></div>
    </div>
    <div
      class="max-w-7xl px-8 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-10 md:gap-20 bg-blueMain py-10 text-white items-center"
    >
      <div class="order-2 lg:order-1">
        <p class="font-thin text-sm lg:text-lg md:text-lg text-justify">
          After the baghouse collects fine particles in the hoppers, a screw
          conveyor transfers them back to the drum mixer. The return point is
          precisely timed and located at the liquid asphalt injection zone,
          ensuring the fines are immediately coated and fully incorporated into
          the hot-mix.
        </p>
        <details class="group">
          <summary class="cursor-pointer list-none flex justify-end items-end">
            <div
              class="rounded-full flex items-center justify-center
              w-[40px] h-[40px] lg:w-[50px] md:h-[50px]"
            >
              <svg
                class="group-open:hidden transition w-[50px] h-[50px]"
                viewBox="0 0 24 24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                fill="white"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <title>add_circle_fill</title>
                  <g
                    id="页面-1"
                    stroke="none"
                    stroke-width="1"
                    fill="none"
                    fill-rule="evenodd"
                  >
                    <g
                      id="System"
                      transform="translate(0.000000, -48.000000)"
                      fill-rule="nonzero"
                    >
                      <g
                        id="add_circle_fill"
                        transform="translate(0.000000, 48.000000)"
                      >
                        <path
                          d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                          id="MingCute"
                          fill-rule="nonzero"
                        >
                        </path>
                        <path
                          d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M12,7 C11.48715,7 11.0644908,7.38603566 11.0067275,7.8833779 L11,8 L11,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.51285 7.38604429,12.9355092 7.88337975,12.9932725 L8,13 L11,13 L11,16 C11,16.5523 11.4477,17 12,17 C12.51285,17 12.9355092,16.613973 12.9932725,16.1166239 L13,16 L13,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.48715 16.613973,11.0644908 16.1166239,11.0067275 L16,11 L13,11 L13,8 C13,7.44771 12.5523,7 12,7 Z"
                          id="形状"
                          fill="white"
                        >
                        </path>
                      </g>
                    </g>
                  </g>
                </g></svg
              >
            </div>
          </summary>

          <p class="font-thin text-sm lg:text-lg md:text-lg text-justify">
            By reintegrating the fines at this specific point, the system
            prevents them from becoming airborne again, reduces material loss,
            and improves the quality and durability of the asphalt. This
            efficient recovery not only enhances environmental performance but
            also maximizes resource use for a more cost-effective operation.
          </p>

          <div
            class="flex justify-end mt-6 group-open:flex hidden pt-10"
            onclick="this.closest('details').removeAttribute('open')"
          >
            <svg
              class="hidden group-open:block transition w-[40px] h-[40px] lg:w-[50px] md:h-[50px]"
              viewBox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <title>minus_circle_fill</title>
                <g
                  id="页面-1"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                >
                  <g
                    id="System"
                    transform="translate(-864.000000, -48.000000)"
                    fill-rule="nonzero"
                  >
                    <g
                      id="minus_circle_fill"
                      transform="translate(864.000000, 48.000000)"
                    >
                      <path
                        d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                        id="MingCute"
                        fill-rule="nonzero"
                      >
                      </path>
                      <path
                        d="M12,2 C17.5228,2 22,6.47715 22,12 C22,17.5228 17.5228,22 12,22 C6.47715,22 2,17.5228 2,12 C2,6.47715 6.47715,2 12,2 Z M16,11 L8,11 C7.44772,11 7,11.4477 7,12 C7,12.5523 7.44772,13 8,13 L16,13 C16.5523,13 17,12.5523 17,12 C17,11.4477 16.5523,11 16,11 Z"
                        id="形状"
                        fill="white"
                      >
                      </path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
          </div>
        </details>
      </div>
      <div class="w-full order-1 lg:order-2">
        <h2 class="text-lg md:text-xl text-end">Fines Return System</h2><br />
        <div class="w-full flex justify-end">
          <Image
            src={finesReturn}
            alt="Fines Return System"
            class="rounded-lg lg:w-3/4 md:w-3/4"
          />
        </div>
      </div>
    </div>
    <BHCustom />
  </div>
  <div class="w-full px-4">
    <GallerySlider client:visible slides={tanksSlides} visibleThumbs={4} />
  </div>
</div>

<script>
  import { initScrollAnimations } from "../../components/lib/scrollAnimations";

  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      initScrollAnimations();
    });
  }
</script>
