---
import GallerySlider from "../unitComponents/GallerySlider";
import img2 from "../../assets/images/BagHouses/bagHouses1.webp";
import img3 from "../../assets/images/BagHouses/BHProv4.webp";
import TwoColumnSection from "../unitComponents/TwoColumnSection.astro";
import Tred from "../../assets/images/AsphaltStorage/redT.webp";
import BHCustom from "./BHCustom.astro";
import BHoppers from "../../assets/images/BagHouses/BHoppers.webp";
import AcordeonItemCol from "../unitComponents/AcordeonItemCol";
import img5 from "../../assets/images/BagHouses/venturiSys.webp";
import img6 from "../../assets/images/BagHouses/ratioSys.webp";
import img7 from "../../assets/images/BagHouses/BHProv7.webp";
import img7Low from "../../assets/images/BagHouses/Low/BHProv7Low.webp";
import OSection from "../unitComponents/OSection.astro";
import bannerNew from "../../assets/images/BagHouses/bannerImage.webp";
import bannerMobile from "../../assets/images/BagHouses/Low/bannerImageLow.webp";
import damperImg from "../../assets/images/BagHouses/damper.webp";
import finesReturn from "../../assets/images/BagHouses/finesReturn.webp";
import boquillasVL from "../../assets/images/BagHouses/Low/BoquillasVLLow.webp";
import bgBack from "../../assets/images/BagHouses/test.webp";
import { Image } from "astro:assets";
import poster1 from "../../../public/Videos/Webm/Posters/3.webp";
import poster2 from "../../../public/Videos/Webm/Posters/4.webp";
import BagHouseSlider from "./BagHouseSlider.astro";

import g1 from "../../assets/images/BagHouses/GallerySlider/BHG1.webp";
import g2 from "../../assets/images/BagHouses/GallerySlider/BHG2.webp";
import g3 from "../../assets/images/BagHouses/GallerySlider/BHG4.webp";
import g4 from "../../assets/images/BagHouses/GallerySlider/BHG4.webp";
import SmartVideo from "../unitComponents/SmartVideo";

const tanksSlides = [
  {
    image: g1.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
  },
  {
    image: g2.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Pulse Jet",
  },
  {
    image: g3.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Reverse",
  },
  {
    image: g4.src,
    caption: "Self-contained Baghouse of 24,000 Acfm, Reverse Air",
  },
];
---

<div class="w-full flex flex-col font-bold md:mt-20">
  <div class="w-full flex flex-col font-bold mt-10">
    <div class="max-w-7xl px-8 mx-auto flex justify-start">
      <Image
        src={img2}
        alt="Baghouse"
        class="hero-img md:w-4/5 lg:w-[80%] rounded-lg"
        fetchpriority="high"
        loading="lazy"
      />
    </div>
    <div class="bg-[#393939]">
      <div
        class="max-w-7xl px-8 mx-auto flex flex-col lg:flex-row justify-between items-center py-2"
      >
        <div class="flex flex-col md:flex-row gap-6 lg:w-[40%]">
          <div class="w-full">
          <h2 class="text-[#f9f9f9] text-lg md:text-xl">
            Sistema de limpieza continua
          </h2>
          <p class="text-[#f4f5f6] text-sm lg:text-lg md:text-lg text-justify">
            Un sistema que mantiene las mangas filtrantes en operación en todo
            momento. Descargas de aire comprimido se liberan a través de una
            boquilla supersónica, generando una onda de presión que expande
            rápidamente cada manga y desprende la capa de polvo adherida a su
            superficie. Las partículas liberadas caen a la tolva inferior,
            asegurando una filtración sin interrupciones y un rendimiento óptimo
            de las mangas.
          </p>
        </div>
        </div>
        <div class="w-full hidden lg:flex md:w-auto">
          <Image
            src={img7}
            width={600}
            height={400}
            alt="Baghouse cleaning system"
            class="side-img rounded-2xl will-change-transform"
          />
        </div>
      </div>
    </div>

    <div
      class="max-w-7xl hidden px-8 mx-auto lg:flex justify-center lg:justify-start"
    >
      <Image
        src={img3}
        alt="Baghouse"
        class="fade-img rounded-lg lg:w-3/5 will-change-transform"
      />
    </div>

    <div class="relative flex flex-row px-8 gap-2 lg:hidden">
      <Image
        src={img7Low}
        alt="Baghouse cleaning system"
        class="rounded-2xl w-1/2 object-contain"
      />

      <Image
        src={img3}
        alt="Baghouse"
        class="rounded-lg w-1/2 object-contain"
      />
    </div>
  </div>
  <div class="w-full flex justify-center px-8 text-center">
    <h1 class="text-blueMain text-2xl md:text-3xl">
      Mecanismo de los filtros de mangas, disponibles en versión de impulsión y
      retroimpulsión
    </h1>
  </div>

  <div class="w-full py-10">
    <div class="relative max-w-7xl mx-auto px-8 py-24 overflow-hidden">
      <div class="absolute inset-0 flex justify-center items-center">
        <Image
          src={bgBack}
          alt="Baghouse"
          class="w-1/3 opacity-20 pointer-events-none select-none"
        />
      </div>
      <div
        class="relative z-10 grid grid-cols-1 md:grid-cols-2 gap-16 text-center"
      >
        <div>
          <h2 class="text-xl md:text-2xl font-semibold mb-4">Retroimpulsión</h2>
          <p class="text-grisT font-thin text-sm lg:text-lg md:text-lg">
            Un sistema de limpieza que dirige aire a baja presión en sentido
            contrario para eliminar el polvo de las bolsas filtrantes, utilizado
            habitualmente en filtros de mangas de gran tamaño o en aplicaciones
            con altos niveles de polvo.
          </p>
        </div>

        <div>
          <h2 class="text-xl md:text-2xl font-semibold mb-4">Impulsión</h2>
          <p class="text-grisT font-thin text-sm lg:text-lg md:text-lg">
            Un sistema de limpieza que utiliza breves ráfagas de aire comprimido
            para eliminar el polvo y los residuos de las bolsas filtrantes, lo
            que permite mantener un flujo de aire continuo y la eficiencia de
            filtración.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Slider -->
  <div>
    <BagHouseSlider />
  </div>

  <TwoColumnSection
    leftBg="bg-redBg"
    rightBg="bg-blueMain"
    imageSrc={Tred.src}
    imageAlt="Red T icon"
    imageWidth="150px"
  >
    <div slot="left" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">
        Opciones para satisfacer cualquier necesidad
      </h1>
      <p class="text-sm lg:text-lg md:text-lg text-[#d9d9d9]">
        Fabricados en modelos altamente portátiles, Acomplables e integrados,
        los filtros de mangas Triaso® operan con relaciones aire-bolsas de hasta
        8:1.
      </p>
    </div>
    <div slot="right" class="flex flex-col justify-center gap-3">
      <h1 class="text-xl md:text-2xl">
        Diferentes tipos de mangas y sus aplicaciones específicas:
      </h1>
      <ul class="text-sm lg:text-lg md:text-lg list-disc pl-5 text-[#d9d9d9]">
        <li>Poliéster</li>
        <li>Nomex</li>
        <li>Poliamida (P84)</li>
      </ul>
    </div>
  </TwoColumnSection>

  <div class="w-full px-8 text-center pt-10">
    <h2
      class="text-blueMain text-[17px] pb-5 lg:pb-0 md:pb-0 lg:text-3xl md:text-3xl text-center"
    >
      Retorno total y homogéneo de finos a la mezcla asfáltica para optimizar su
      calidad y la vida útil del pavimento
    </h2>
  </div>

  <div class="max-w-7xl px-8 mx-auto pb-10">
    <div class="w-full flex justify-center">
      <SmartVideo
        client:visible
        src="/Videos/Webm/DMVideo.webm"
        poster={poster1.src}
        isLoop={true}
        autoplayOnMobile={false}
      />
    </div>
    <p class="text-sm pt-5 lg:pt-0 md:pt-0 lg:text-lg md:text-lg font-thin">
      Después de pasar por el colector primario de polvo, la corriente de gas
      entra a la cámara de entrada del filtro de mangas. Al reducir su
      velocidad, fluye por debajo de una barrera protectora que resguarda las
      mangas filtrantes. En el plenum de aire limpio, el sistema succiona el gas
      hacia arriba a través de las mangas, haciendo que las partículas finas se
      acumulen en su superficie exterior, mientras el aire limpio pasa al plenum
      y sale por la chimenea de escape.
    </p>
  </div>

  <div class="w-full bg-blueMain">
    <BHCustom />
  </div>

  <div class="w-full px-4">
    <GallerySlider client:visible slides={tanksSlides} visibleThumbs={4} />
  </div>
</div>

<script>
  import { initScrollAnimations } from "../../components/DrumMixers/Contraflujo/Desamaq/scrollDesamaq";

  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      initScrollAnimations();
    });
  }
</script>
