---
import rodillo1 from "../../assets/images/Service/Rehabilitation/rodillo1.webp";
import rodillo2 from "../../assets/images/Service/Rehabilitation/rodillo2.webp";
import rodillo3 from "../../assets/images/Service/Rehabilitation/rodillo3.webp";
import logo from "../../assets/logos/LogoTriasoMX.svg";
import SpareCabin from "../../assets/images/Service/Rehabilitation/SpareCabine.webp";
import Rehab3 from "../../assets/images/Service/Rehabilitation/Rehab3.webp";
import icono1 from "../../assets/images/Service/Rehabilitation/30.webp";
import icono2 from "../../assets/images/Service/Rehabilitation/31.webp";
import icono3 from "../../assets/images/Service/Rehabilitation/32.webp";
import { Image } from "astro:assets";
---

<section class="w-full flex flex-col justify-center items-center">
  <div class="w-full px-4">
    <h2 class="text-center font-bold text-redBg text-2xl md:text-3xl">
      Technical and Professional Focus
    </h2>
  </div>
  <div
    class="w-full  grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-10 my-20 justify-center items-center max-w-[2400px]"
  >
    <div
      class="rounded-r-2xl bg-redBg py-8  md:pl-52 col-span-1 flex justify-center items-center"
    >
      <h2 class="font-bold text-white text-xl md:text-2xl">
        100% manufactured in <br /> neighboring México
      </h2>
    </div>
    <div class="w-full col-span-1 flex justify-center px-4">
      <Image src={SpareCabin} alt="Control Cabins" class="w-full md:w-3/5 rounded-2xl" />
    </div>
  </div>
  <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-10 md:px-32 max-w-7xl">
    <div class="w-full flex justify-center">
      <Image src={rodillo2} alt="TRIASO Roller" class="max-h-[300px]" />
    </div>
    <div class="w-full flex flex-col justify-center px-4">
      <h2 class="font-bold text-blueMain text-lg md:text-xl">
        Tailored upgrades
      </h2><br />
      <p class="font-thin text-grisT text-base md:text-lg">
        We evaluate your current setup and suggest only the upgrades that will
        truly improve your plant’s performance, safety, and compliance.
      </p>
    </div>
    <div class="w-full flex justify-center">
      <Image src={rodillo3} alt="TRIASO Roller" class="max-h-[300px]" />
    </div>
    <div class="w-full flex flex-col justify-center px-4">
      <h2 class="font-bold text-grisT text-lg md:text-xl">
        Compatibility guaranteed
      </h2><br />
      <p class="font-thin text-grisT text-base md:text-lg">
        We adapt our solutions to fit your existing systems, regardless of the
        original brand or age of the equipment.
      </p>
    </div>
    <div class="w-full flex justify-center">
      <Image src={rodillo1} alt="TRIASO Roller" class="max-w-[300px] md:max-h-[400px]" />
    </div>
    <div class="w-full flex flex-col justify-center px-4">
      <h2 class="font-bold text-redBg text-lg md:text-xl">
        Structural and mechanical reinforcements
      </h2><br />
      <p class="font-thin text-grisT text-base md:text-lg">
        We rebuild worn-out parts, reinforce critical components, and install
        updated systems to extend your equipment’s lifespan.
      </p>
    </div>
  </div>
  <div
    class="w-full px-8 md:px-52 flex justify-center bg-gradient-to-b from-bgMain to-grisT"
  >
    <div class="w-full max-w-7xl flex justify-center mt-2">
      <Image src={Rehab3} alt="Asphalt Storage Tank" class="rounded-2xl w-full md:w-3/5" />
    </div>
  </div>
  <div class="w-full flex flex-col justify-center items-center bg-grisT">
    <h2 class="text-center font-bold text-bgBeige text-2xl md:text-3xl py-10">
      Focus on Benefits and Productivity
    </h2><br />
    <div class="w-full flex flex-col gap-2 px-8 items-start max-w-7xl">
      <div class="w-full flex gap-2 items-center">
        <Image src={icono1} alt="Arrows icon" class="w-[80px] h-[80px]" />
        <h3 class="font-bold text-white text-xl md:text-2xl">
          Boost efficiency and reduce fuel consumption
        </h3>
      </div>
      <div class="w-full">
        <p class="font-thin text-white text-base md:text-lg">
          Our upgrades are designed to lower operating costs and increase
          productivity—without replacing your entire system.
        </p>
      </div>
    </div>
    <div
      class="w-full grid grid-cols-2 gap-0 md:gap-10 justify-center items-center max-w-7xl"
    >
      <div class="w-[150px] h-[10px] bg-redBg"></div>
      <div class="w-full flex flex-col gap-2 px-8 items-start">
        <div class="w-full flex gap-2 justify-center items-center">
          <h3 class="w-full font-bold text-white text-xl md:text-2xl text-end">
            Minimal downtime
          </h3>
          <Image src={icono3} alt="Watch icon" class="w-[80px] h-[80px]" />
        </div>
        <div class="w-full">
          <p class="font-thin text-white text-base md:text-lg text-end">
            We schedule interventions based on your production needs to ensure
            continuous operation.
          </p>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-col gap-2 px-8 max-w-7xl items-start">
      <div class="w-full flex gap-2 items-center">
        <Image src={icono2} alt="Investment icon" class="w-[80px] h-[80px]" />
        <h3 class="font-bold text-white text-xl md:text-2xl">
          Return on investment
        </h3>
      </div>
      <div class="w-full">
        <p class="font-thin text-white text-base md:text-lg">
          Rehabilitation is often the most economical way to restore equipment
          performance and reliability.
        </p>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <Image src={logo} alt="TRIASO Logo" />
    </div>
  </div>
</section>
