---
interface Card {

  title: string
  text: string
  bg: string
  textColor:string
  content: string
}

const {
  cards = [],
  mainTitle,
  mainDescription,
  imageSrc,
  imageAlt = "Persistent image",
} = Astro.props;

---

<section class="stack-section bg-neutral-100 py-32">

  <div class="max-w-7xl mx-auto px-6 grid lg:grid-cols-2 gap-20">

  
    <div class="left-content">

      <h2 class="text-4xl font-bold leading-tight mb-6 border-b-2 border-b-orange-500">
        {mainTitle}
      </h2>

      <p class="text-neutral-600 max-w-md ">
        {mainDescription}
      </p>

    </div>

  
    <div class="cards-wrapper relative h-[600px]">

      {cards.map((card, i) => (
        <div
          class="stack-card absolute w-full max-w-lg right-0 rounded-xl p-10 shadow-xl"
          style={`background:${card.bg}; color:${card.textColor}`}
        >

          <h3 class="text-2xl font-semibold mb-4">
            {card.title}
          </h3>

          <p class="text-base opacity-90 leading-relaxed">
            {card.text}
          </p>

        </div>
      ))}

    </div>

  </div>

</section>

<script>
import gsap from "gsap";
import ScrollTrigger from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

const cards = gsap.utils.toArray(".stack-card");

gsap.set(cards, {
  y: (i) => i === 0 ? 0 : window.innerHeight, 
  zIndex: (i) => i, 
  transformOrigin: "top center" 
});

const tl = gsap.timeline({
  scrollTrigger: {
    trigger: ".stack-section",
    start: "top top",
    end: `+=${cards.length * 400}`, 
    scrub: 1, 
    pin: true
  }
});


cards.forEach((card, i) => {
  if (i === 0) return;

  tl.to(card, {
    y: i * 20, 
    duration: 1,
    ease: "power3.out"
  }, i); 

  for (let j = 0; j < i; j++) {
    tl.to(cards[j], {
      scale: 1 - ((i - j) * 0.04), 
      y: (j * 20) - ((i - j) * 10), 
      
      duration: 1,
      ease: "power3.out"
    }, i);
  }
});
</script>