---
import LearnBtn from "../../unitComponents/LearnBtn.astro";
import Whatsbtn from "../../unitComponents/Whatsbtn.astro";
import Logo from "../../../assets/logos/LogoTriasoMX.svg";
import Cabins from "../../../assets/images/Service/Spare/SpareCabine.webp";
import img1 from "../../../assets/images/Maintenance/userManual.webp";
import img2 from "../../../assets/images/Maintenance/maintenance1.webp";
import img3 from "../../../assets/images/Maintenance/tolvas.webp";
import { Image } from "astro:assets";
import SecondWhatsBtn from "../../unitComponents/SecondWhatsBtn.astro";
---

<section
  class="w-full font-bold text-grisT mt-28 flex flex-col justify-center items-center"
>
  <div class="w-full flex justify-center px-8">
    <div class="max-w-7xl w-full">
      <h1 class="text-3xl md:text-4xl text-start uppercase">Mantenimiento</h1>
    </div>
  </div>
  <br />

  <div class="w-full flex justify-center px-8">
    <div class="max-w-7xl">
      <p class="text-base md:text-lg">
        Los servicios de mantenimiento de Triaso están diseñados para mantener
        sus equipos operando al máximo desempeño, minimizando tiempos muertos y
        maximizando la eficiencia.

        <br />Nuestro equipo de técnicos, operadores e ingenieros expertos
        inspecciona, da servicio y optimiza cada componente de su planta de
        asfalto.
      </p>
    </div>
  </div>
  <div
    class="w-full bg-[url(/Gallery/drum-mixer.webp)] bg-cover bg-center h-[350px] md:h-[35vh] mt-16"
  >
    <div class="w-full h-full flex justify-center bg-white/30 py-10">
      <div
        class="grid grid-cols-1 md:grid-cols-3 px-8 gap-10 justify-center items-center max-w-7xl h-full"
      >
        <div class="w-full col-span-1">
          <SecondWhatsBtn />
        </div>
        <div class="col-span-1 md:col-span-2 w-full text-end">
          <h1 class="text-2xl md:text-3xl text-black">
            SERVICIO AL CLIENTE 24/7
          </h1>
          <h2 class="text-lg md:text-xl uppercase text-black">
            Nuestro equipo está disponible todo el día, listo para asistirle en
            cualquier momento, incluso fines de semana y días festivos.
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div
    class="w-full flex justify-center px-8 bg-blueMain py-6 md:py-16 text-white"
  >
    <div class="max-w-7xl">
      <p class="text-sm md:text-lg">
        Todos los propietarios de equipos, tanto originales como posteriores,
        cuentan con soporte telefónico integral para mantenimiento y diagnóstico
        de fallas durante toda la vida útil del producto. Nuestros expertos
        están listos para guiarle en las soluciones y ayudarle a mantener su
        planta de asfalto operando con la máxima eficiencia durante muchos años.
      </p><br />
      <p class="text-sm md:text-lg">
        Además, contamos con un equipo de técnicos capacitados listo para
        brindar asistencia rápida en sitio para futuras reubicaciones o
        servicios, garantizando un funcionamiento continuo del equipo.
      </p>
    </div>
  </div>
  <div
    class="w-full bg-[url(/Gallery/banner2.webp)] bg-cover bg-center h-[450px] md:h-[700px]"
  >
    <div
      class="w-full h-full bg-white/70 px-8 py-16 text-black flex justify-center"
    >
      <div
        class="max-w-7xl flex flex-col lg:flex-row justify-center items-center"
      >
        <div class="flex flex-col space-y-2 w-1/2">
          <h1 class="text-2xl md:text-3xl">Manual de usuario</h1>
          <div class="w-72 h-0.5 bg-[#CA1C1C]"></div>
          <p class="text-base md:text-lg">
            Proporcionamos el manual de usuario más completo de la industria
            para la instalación y mantenimiento de equipos. Esto le permite
            encargarse de futuras instalaciones y realizar mantenimientos
            completos de manera independiente y con confianza.
          </p>
        </div>

        <div class="flex justify-center items-center">
          <Image src={img1} alt="User Manuals" />
        </div>
      </div>
    </div>
  </div>
  <div class="w-full px-8 md:px-52 py-16">
    <h1 class="text-2xl md:text-3xl text-blueMain text-center">
      Enfoque técnico y profesional.
    </h1>
  </div>
  <div class="max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
    <div class="w-full col-span-1 px-8">
      <Image src={Cabins} alt="Control Cabins" class="rounded-2xl" />
    </div>
    <div class="w-full col-span-1">
      <div class="w-full rounded-2xl bg-redBg p-8">
        <h2 class="text-white text-xl md:text-3xl">
          Disponible en todo momento para soporte inmediato del equipo.
        </h2>
      </div>
    </div>
  </div>
  <div
    class="max-w-7xl grid grid-cols-1 md:grid-cols-2 gap-3 justify-center items-center px-8"
  >
    <div class="w-full py-10 flex flex-col gap-3">
      <h2 class="font-bold text-blueMain text-lg md:text-xl">
        Actualizaciones a la medida
      </h2>
      <p class="font-thin text-base md:text-lg">
        Evaluamos su configuración actual y sugerimos únicamente las
        actualizaciones que realmente mejorarán el desempeño, la seguridad y el
        cumplimiento de su planta.
      </p>
      <h2 class="font-bold text-grisT text-lg md:text-xl">
        Compatibilidad garantizada
      </h2>
      <p class="font-thin text-base md:text-lg">
        Adaptamos nuestras innovaciones para integrarse con sus sistemas
        existentes, sin importar la marca original o la antigüedad del equipo.
      </p>
      <h2 class="font-bold text-redBg text-lg md:text-xl">
        Refuerzos estructurales y mecánicos
      </h2>
      <p class="font-thin text-base md:text-lg">
        Reconstruimos partes desgastadas, reforzamos componentes críticos e
        instalamos sistemas actualizados para extender la vida útil de sus
        equipos.
      </p>
    </div>
    <div class="flex justify-center lg:justify-normal">
      <Image
        src={img2}
        alt="TRIASO employee adjusting a gear"
        class="rounded-lg w-1/2 lg:w-full"
      />
    </div>
  </div>
  <div class="max-w-7xl flex justify-center items-center pb-5">
    <Image src={img3} alt="Bin units" class="w-3/4 rounded-lg" />
  </div>
  <div class="w-full bg-grisT relative h-[300px]">
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-full"
    >
      <Image src={Logo} alt="TRIASO Logo" />
    </div>
    <div class="w-full flex justify-center items-center h-full">
      <div
        class="max-w-7xl h-full px-8 text-white text-sm md:text-lg relative z-20 justify-center flex flex-col items-center"
      >
        <p class="">
          Respaldados por nuestro departamento de control de calidad, diseño e
          ingeniería, nuestros sistemas están diseñados para una operación
          continua y duradera, brindándole la confianza de enfocarse en sus
          proyectos sin interrupciones inesperadas.
        </p><br />
        <p class="">
          Trabajamos para extender la vida útil de sus equipos y garantizar una
          confiabilidad constante.
        </p>
      </div>
    </div>
  </div>
  <div class="w-full text-center my-6 md:my-16">
    <h1 class="font-bold text-blueMain text-2xl md:text-3xl">
      Refacciones Triaso®
    </h1>
  </div>
  <div class="w-full px-4 mb-16 flex justify-center">
    <div
      class="max-w-7xl bg-[url(/Gallery/Boxes.webp)] bg-cover bg-center md:h-[550px] rounded-2xl"
    >
      <div
        class="w-full h-full bg-black/70 text-white text-sm md:text-lg text-center flex flex-col justify-center items-center px-4 md:px-16 pt-5 lg:pt-0 rounded-2xl"
      >
        <p>
          Ningún otro fabricante de plantas de asfalto en el mundo produce
          tantos de sus propios componentes como Triaso.
        </p><br />
        <p>
          Esto nos permite ofrecer un servicio, respaldo y soporte directo
          incomparables, desde nuestra fábrica en México.
        </p><br />
        <p>
          Enviamos refacciones a todo el mundo para asegurar que su producción
          nunca se detenga. Cada pieza cuenta con calidad garantizada, precios
          competitivos y tiempos de entrega rápidos.
        </p>
        <div class="mt-6 md:mt-16 mb-10 lg:mb-0 flex justify-center">
          <LearnBtn href="/Spare" />
        </div>
      </div>
    </div>
  </div>
</section>
